<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="body-sign">
    <div class="center-sign">
      <a href="/" class="logo float-left">
        <%=image_tag("logo.png", height: "80", alt: "Porto Admin")%>
      </a>
      <div class="panel card-sign">
        <div class="card-title-sign mt-3 text-right">
          <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Recover Password</h2>
        </div>
        <div class="card-body">
          <div class="alert alert-info">
            <p class="m-0">Enter your e-mail below and we will send you reset instructions!</p>
          </div>
          <form>
            <div class="form-group mb-0">
              <%= f.label :email %>
              <div class="input-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "form-control" %>
                <span class="input-group-append">
                  <button class="btn btn-primary btn-lg" type="submit">Reset!</button>
                </span>
              </div>
            </div>
            <p class="text-center mt-3">Remembered?
              <%= link_to "Sign In!", new_session_path(resource_name), class: "" %></p>
          </form>
        </div>
      </div>
      <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
    </div>
  </section>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
