<div style="background-image: url(<%= image_url('background.jpeg')%>); background-size: 100% 100%;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- start: page -->
    <section class="body-sign">
      <div class="center-sign">
        <a href="/" class="logo float-left">
          <%=image_tag("logo.png", height: "80", alt: "Porto Admin")%>
        </a>
        <div class="panel card-sign">
          <div class="card-title-sign mt-3 text-right">
            <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Sign In</h2>
          </div>
          <div class="card-body">
            <%=render 'notifications'%>
            <form action="index.html" method="post">
              <div class="form-group mb-3">
                <%= f.label :login, 'Username or Email' %>
                <div class="input-group">
                  <%= f.text_field :login, autofocus: true, autocomplete: "Username or Email", class:"form-control", required: true %>
                  <span class="input-group-append">
                    <span class="input-group-text">
                      <i class="fas fa-user"></i>
                    </span>
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="clearfix">
                  <%= f.label :password, class: "float-left" %>
                  <%= link_to "Lost Password?", new_password_path(resource_name), class: "float-right" %>
                </div>
                <div class="input-group">
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true,
                     minlength: "6", maxlength: "32" %>
                  <span class="input-group-append">
                    <span class="input-group-text">
                      <i class="fas fa-lock"></i>
                    </span>
                  </span>
                </div>
              </div>
              <br>
              <%= recaptcha_tags %>
              <br>
              <div class="row">
                <div class="col-sm-8">
                  <div class="checkbox-custom checkbox-default">
                    <%= f.check_box :remember_me, id: "RememberMe" %>
                    <%= f.label :remember_me %>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <%= f.submit "Sign In", class: "btn btn-primary mt-2" %>
                </div>
              </div>
            </form>
            <span class="mt-3 mb-3 line-thru text-center text-uppercase">
              <span>or</span>
            </span>
            <!--  <p class="text-center">Don't have an account yet? 
              <%#= link_to "Sign Up!", new_registration_path(resource_name) %></p> -->
            <p class="text-center mt-3">Did not receive confirmation email?
              <%= link_to "Resend!", new_user_confirmation_path, class: "" %></p>
          </div>
        </div>
        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
      </div>
    </section>
    <!-- end: page -->
  <%end%>
</div>
