<div style="background-image: url(<%= image_url('background.jpeg')%>); background-size: 100% 100%;">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <section class="body-sign">
      <div class="center-sign">
        <a href="/" class="logo float-left">
          <%=image_tag("logo.png", height: "80", alt: "Porto Admin")%>
        </a>
        <div class="panel card-sign">
          <div class="card-title-sign mt-3 text-right">
            <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Resend confirmation email</h2>
          </div>
          <div class="card-body">
            <%=render 'notifications'%>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="alert alert-info">
              <p class="m-0">Enter your e-mail below and we will send you confirmation instructions!</p>
            </div>
            <form>
              <div class="form-group mb-0">
                <%= f.label :email %>
                <div class="input-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                  <span class="input-group-append">
                    <%= f.submit "Resend!", class: "btn btn-primary btn-lg" %>
                  </span>
                </div>
              </div>
            </form>
            <br>
            <%= recaptcha_tags %>
            <br>
            <span class="mt-3 mb-3 line-thru text-center text-uppercase">
              <span>or</span>
            </span>
            <!-- <p class="text-center">Don't have an account yet?
              <%#= link_to "Sign Up!", new_registration_path(resource_name)  %></p> -->
            <p class="text-center mt-3">Already have an account?
              <%= link_to "Sign In!", new_session_path(resource_name) %></p>
            <p class="text-center mt-3">Lost your password? 
              <%= link_to "Reset Password!", new_user_password_path %></p>
          </div>
        </div>
        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
      </div>
    </section>
  <% end %>
</div>
