<div class="modal-content" >
  <div class="modal-header text-inverse">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 class="modal-title" id="mySmallModalLabel"><%= t("bank_account_clients.register_new") %></h5>
  </div>

  <div class="row mt-2">
    <div class="col-lg-8 col-sm-12">
      <%= label_tag :owner_name, t("bank_account_clients.first_name") %>
      <%= text_field_tag :owner_name, current_user.name, disabled: true, class: 'form-control mb-1' %>
    </div>

    <div class="col-lg-4 col-sm-12">
      <% if current_user.country == "BR" %>
        <%= label_tag :cpf, "CPF "%>
        <%= text_field_tag :cpf, current_user.cpf, disabled: true, class: 'form-control mb-1' %>
      <% else %>
        <%= label_tag :doc_number, "Doc Number "%>
        <%= text_field_tag :doc_number, current_user.doc_number, disabled: true, class: 'form-control mb-1' %>
      <% end %>
    </div>
  </div>

    <%= form_for(@bank_account_client, validate: true) do |f| %>
    <div class="row mt-2">
      <div class="col-lg-4 col-sm-12">
        <%= f.label :bank_account_type, t("bank_account_clients.bank_account_type") %>
        <%= f.select :bank_account_type, options_for_select(BankAccountClient.bank_account_type.options), {}, class: "form-control" %>
      </div>

      <div class="col-lg-8 col-sm-12">
        <%= f.label :bank_id, t("bank_account_clients.bank") %>
        <%= f.select :bank_id, options_for_select(@banks), {}, class: "form-control mb-0 text-sm-right", "data-placeholder": t("bank_account_clients.bank"), id: "banks_select" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-4 col-sm-12">
        <%= f.label :agency, t("bank_account_clients.agency") %>
        <%= f.number_field :agency,
          class:'form-control mb-0',
          required: true,
          placeholder:t("bank_account_clients.agency_tip"),
          "data-validation":"length",
          "data-validation-length":"2-10",
          "data-validation-error-msg-length":t("bank_account_clients.agency_error_msg"), 
          :maxlength => 10, :minlength => 2,
          "data-behavior":"validate-agency"
        %>
      </div>

      <div class="col-lg-6 col-sm-12">
        <%= f.label :account_number, t("bank_account_clients.account_number") %>
        <%= f.number_field :account_number,
          class:'form-control mb-0',
          placeholder:t("bank_account_clients.account_number"),
          "data-validation":"number",
          "data-validation-error-msg":t("bank_account_clients.account_number_error_msg"),
          "data-behavior":"validate-account-number"
        %>
      </div>

      <div class="col-lg-2 col-sm-12">
        <%= f.label :digit, t("bank_account_clients.digit") %>
        <%= f.text_field :digit,
          placeholder:t("bank_account_clients.digit"),
          class:'form-control mb-0',
          maxlength:"1",
          "data-validation":"length number",
          "data-validation-length":"1",
          "data-validation-error-msg":t("bank_account_clients.account_number_error_msg"),
          "data-behavior":"validate-digit"
        %>
      </div>
    </div>

    <div class="row mt-2 pb-3">
      <div class="col-sm-4 offset-sm-7 mb-2 col-md-4 " style="display: none;" id="bank_account_clients_div">
        <%= f.label :operation, t("bank_account_clients.operation") %>
        <%= f.number_field :operation, class:'form-control mb-0', maxlength:"3", "data-behavior":"validate-operation" %>
      </div>
      <div class="col-sm-4 offset-sm-7 mb-2 col-md-4 mt-4">
        <%= f.check_box :joint, class: 'checkbox checkbox-grey' %>
        <span class="label-text"><%=t("bank_account_clients.joint_account")%>?</span>
      </div>

      <div class="col-sm-5 offset-sm-7 col-md-6 mb-2">
          <%= recaptcha_tags %>
      </div>
      <div class="col-12">
          <%= f.submit t("bank_account_clients.save"), class: 'btn btn-info ripple mb-3 btn-block', id:"submit-bank-account-hidden", hidden: true%>

          <a class="btn btn-success ripple mb-3 btn-block" data-behavior= "submit-bank-account"><%= t("bank_account_clients.save")%></a>
      </div>
    </div>
    <% end %>
</div>
