<% content_for :title do %><%=t("shared.configurations")%><% end %>
<% content_for :description do %><%=t("bank_account_clients.info_bank_accounts")%><% end %>
  <div class="col-md-12 mr-b-10">
    <div class="card bg-default">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h5 class="card-title" style="color: #004274;"><%=t("deposits.user_details")%></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h6><%=t("clients.name")%></h6>
            <a href="<%= client_path(@client) %>"><%= @client.name %></a>
          </div>

          <div class="col-md-3">
            <% if @client.country == "BR" %>
              <h6>CPF</h6>
              <%= @client.cpf %>
            <% else %>
              <h6>Doc Number</h6>
              <%= @client.doc_number %>
            <% end %>
          </div>

          <div class="col-md-3">
            <h6>Email</h6>
            <%= @client.email %>
          </div>

           <div class="col-md-3">
            <h6><%=t("clients.status")%></h6>
            <span class="badge text-uppercase badge-<%= @client.status %> align-middle">
                <%= t("status.#{@client.status}") %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-12 col-md-12 widget-holder">
        <div class="widget-bg">
            <div class="widget-body clearfix">
                <div class="tabs mr-t-10">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <%= link_to t("clients.profile"), client_path(params[:user_id]), class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t("clients.documents"), edit_document_path(params[:user_id]), class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t("clients.address"), edit_address_admin_path(params[:user_id]), class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t("menu.bank_account"), "#", class: "nav-link active" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t('menu.zencard'), edit_zencard_admin_path(params[:user_id]),  class: "nav-link"  %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t('menu.financial'), financial_info_path(params[:user_id]),  class: "nav-link"  %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t('menu.extract_financial'), extract_info_path(params[:user_id]),  class: "nav-link"  %>
                        </li>
                        <%if can? :security_info, @client%>
                            <li class="nav-item">
                                <%= link_to t("clients.security"), security_info_path(params[:user_id]), class: "nav-link" %>
                            </li>
                        <% end %>
                        <%if can? :index, Message%>
                            <li class="nav-item">
                                <%= link_to t("menu.messages"), messages_by_user_path(params[:user_id]), class: "nav-link" %>
                            </li>
                        <% end %>
                        <li class="nav-item">
                            <%= link_to t("menu.level"), account_level_path(params[:user_id]), class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t("menu.trade_accounts"), trade_account_info_path(params[:user_id]), class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to t("menu.ib_account"), ib_account_info_path(params[:user_id]), class: "nav-link" %>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile-tab-bordered-1" aria-expanded="true">
                            <div class="contact-details-profile pd-lr-30">
                                <p class="mr-0 text-muted d-none d-md-inline-block"><%=t("bank_account_clients.info")%></p>
                                <table id="bank_account_clients_table" class="table table-striped" data-toggle="datatables" >
                                <thead>
                                    <tr>
                                        <th><%=t("bank_account_clients.bank")%></th>
                                        <th><%=t("bank_account_clients.agency")%></th>
                                        <th><%=t("bank_account_clients.account_number")%></th>
                                        <th><%=t("bank_account_clients.digit")%></th>
                                        <th><%=t("bank_account_clients.operation")%></th>
                                        <th><%=t("bank_account_clients.bank_account_type")%></th>
                                        <% if can? :create_admin, @bank_account_client %>
                                            <th></th>
                                        <%end%>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @bank_account_clients.each do |bank_account_client| %>
                                    <tr>
                                        <td><%= bank_account_client.bank.name %></td>
                                        <td><%= bank_account_client.agency %></td>
                                        <td><%= bank_account_client.account_number %></td>
                                        <td><%= bank_account_client.digit %></td>
                                        <td><%= bank_account_client.operation %></td>
                                            <td><%= t("enumerize.bank_account_client.bank_account_type.#{bank_account_client.bank_account_type}") %></td>
                                        <% if can? :destroy, @bank_account_client %>
                                            <td><%= link_to t("bank_account_clients.delete"), bank_account_client, method: :delete, data: { confirm: t("bank_account_clients.delete_message") + "?" } %></td>
                                        <%end%>
                                    </tr>
                                    <% end %>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% if can? :create_admin, @bank_account_client %>
    <div class="col-12 col-md-12 widget-holder">
        <div class="widget-bg">
            <div class="widget-body clearfix">
                <div class="tabs mr-t-10">
                    <p class="mr-0 text-muted d-none d-md-inline-block"><%=t("bank_account_clients.description")%></p>
                    <% unless @bank_account_client.nil? %>
                        <% if @bank_account_client.errors.any? %>
                        <div class="alert alert-icon alert-danger border-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button> <i class="material-icons list-icon">not_interested</i>
                            <strong> <% @bank_account_client.errors.messages.values.first.each do |message| %>
                                <li><%= message %></li>
                            <% end %></strong>
                        </div>
                        <% end %>
                    <% end %>

                    <%= form_for @bank_account_client,  :as => 'bank_account_client', :url => {:controller=>"bank_account_clients",:action=>"create_admin"}, method: "post" do |f| %>
                    <div class="row">
                        <div class="col-md-8">
                        <div class="form-group">
                            <%= f.label :owner_name, t("bank_account_clients.first_name") %><br />
                            <%= f.text_field :owner_name, value: @client.name, disabled: true, class: 'form-control mb-0' %>
                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="form-group">

                          <% if @client.country == "BR" %>
                            <%= f.label :cpf, "CPF "%>
                            <%= f.text_field :cpf, value: @client.cpf, disabled: true, class: 'form-control mb-0' %>
                          <% else %>
                            <%= f.label :doc_number, "Doc Number "%>
                            <%= f.text_field :doc_number, value: @client.doc_number, disabled: true, class: 'form-control mb-0' %>
                          <% end %>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                        <div class="form-group">
                            <%= f.label :bank_id, t("bank_account_clients.bank") %>
                            <%= f.select :bank_id, options_for_select(@banks), {}, class: "form-control mb-0 text-sm-right", "data-placeholder": t("bank_account_clients.bank"), "data-toggle": "select2" %>
                        </div>
                        </div>

                        <div class="col-sm-3">
                        <div class="form-group">
                            <%= f.label :agency, t("bank_account_clients.agency") %>  <span class="pointer" title="<%= t('bank_account_clients.title_agency')%>"><i class="fa fa-info-circle"></i></span>
                            <%= f.text_field :agency,
                            class:'form-control mb-0',
                            placeholder:t("bank_account_clients.agency_tip"),
                            "data-validation":"length",
                            "data-validation-length":"2-10",
                            "data-validation-error-msg-length":t("bank_account_clients.agency_error_msg"),
                            :maxlength => 10, :minlength => 2
                            %>
                        </div>
                        </div>

                        <div class="col-md-2">
                        <div class="form-group">
                            <%= f.label :account_number, t("bank_account_clients.checking_account") %>
                            <%= f.text_field :account_number,
                            class:'form-control mb-0',
                            placeholder:t("bank_account_clients.account_number"),
                            "data-validation":"number",
                            "data-validation-error-msg":t("bank_account_clients.account_number_error_msg")
                            %>
                        </div>
                        </div>

                        <div class="col-md-1">
                        <div class="form-group">
                            <%= f.label :digit, t("bank_account_clients.digit") %>
                            <%= f.text_field :digit,
                            class:'form-control mb-0',
                            maxlength:"1",
                            "data-validation":"length number",
                            "data-validation-length":"1",
                            "data-validation-error-msg":t("bank_account_clients.account_number_error_msg"),
                            :maxlength => 1,
                            :minlength => 1
                            %>
                        </div>
                        </div>

                        <div class="col-md-2" style="display: none;" id="bank_account_clients_div">
                          <div class="form-group">
                            <%= f.label :operation, t("bank_account_clients.operation") %> <span class="pointer" title="<%= t('bank_account_clients.title_operation')%>"><i class="fa fa-info-circle"></i></span>
                            <%= f.text_field :operation,
                            class:'form-control mb-0',
                            maxlength:"1"
                            %>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <%= f.label :bank_account_type, t("bank_account_clients.bank_account_type") %>
                            <%= f.select :bank_account_type, options_for_select(BankAccountClient.bank_account_type.options, @bank_account_client.bank_account_type), {}, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6 offset-md-3">
                          <div class="checkbox checkbox-primary pull-right">
                            <label class="checkbox-checked">
                              <%= f.check_box :joint, class: 'checkbox checkbox-grey' %>
                              <span class="label-text"><%=t("bank_account_clients.joint_account")%>?</span>
                            </label>
                          </div>
                        </div>
                    </div>

                    <%unless auditor_admin_signed_in?%>
                      <div class="row pull-right">
                          <div class="col-md-12">
                          <%= invisible_recaptcha_tags text: t("bank_account_clients.save"), class: 'btn btn-md btn-block btn-success', title: t("deposits.export_data")  %>
                          </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
