<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("bank_account_clients.title")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("bank_account_clients.title")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t("bank_account_clients.title")%></h2>
      </header>
      <div class="card-body">
        <table class="table table-responsive-md table-hover mb-0">
            <thead>
                <tr>
                    <th><%=t("bank_account_clients.bank")%></th>
                    <th><%=t("bank_account_clients.agency")%></th>
                    <th><%=t("bank_account_clients.account_number")%></th>
                    <th><%=t("bank_account_clients.digit")%></th>
                    <th><%=t("bank_account_clients.operation")%></th>
                    <th><%=t("bank_account_clients.bank_account_type")%></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @bank_account_clients.each do |bank_account_client| %>
                <tr>
                    <td><%= bank_account_client.bank.name %></td>
                    <td><%= bank_account_client.agency %></td>
                    <td><%= bank_account_client.account_number %></td>
                    <td><%= bank_account_client.digit %></td>
                    <td><%= bank_account_client.operation %></td>
                    <td><%= t("enumerize.bank_account_client.bank_account_type.#{bank_account_client.bank_account_type}") %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <%= link_to t("bank_account_clients.register_new"), new_bank_account_client_path, class: "mb-1 mt-1 mr-1 btn btn-primary" %>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>