<div class="inner-wrapper">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2><%= t("bank_account_clients.register_new") %></h2>
            <div class="right-wrapper text-right">
                <ol class="breadcrumbs">
                    <li>
                        <%= link_to root_path do %>
                        <i class="fas fa-home"></i>
                        <% end %>
                    </li>
                    <li><span><%= t("bank_account_clients.register_new") %></span></li>
                </ol>
                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
            </div>
        </header>
        <!-- start: page -->
        <div class="row">
            <div class="col">
                <section class="card">
                    <header class="card-header">
                        <h2 class="card-title"><%= t("bank_account_clients.register_new") %></h2>
                    </header>
                    <div class="card-body">
                        <% if @bank_account_client.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@bank_account_client.errors.count, "error") %>
                                <%=t("validations.form_error_message")%></h2>
                            <% @bank_account_client.errors.full_messages.each do |message| %>
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>Error! </strong><%= message %></div>
                            <% end %>
                        </div>
                        <% end %>
                        <br />

                        <div class="form-horizontal form-bordered">

                            <div class="form-group row">
                                <p class="col-lg-3 control-label text-lg-right">
                                    <%=t("bank_account_clients.first_name")%></p>
                                <div class="col-lg-6">
                                    <%= text_field_tag :owner_name, current_user.name, disabled: true, class: 'form-control'%>
                                </div>
                            </div>

                            <div class="form-group row">
                                <% if current_user.country == "Brazil" %>
                                <p class="col-lg-3 control-label text-lg-right">CPF</p>
                                <% else %>
                                <p class="col-lg-3 control-label text-lg-right">Doc Number</p>
                                <%end%>
                                <div class="col-lg-6">
                                    <%= text_field_tag :cpf, current_user.cpf, disabled: true, class: 'form-control mb-4'%>
                                </div>
                            </div>
                        </div>
                        <%= form_with(model: @bank_account_client, local: true, class: "form-horizontal form-bordered") do |f| %>

                        <div class="form-group row">
                            <%= f.label :bank_account_type, t("bank_account_clients.bank_account_type"), class: "col-lg-3 control-label text-lg-right" %>
                            <div class="col-lg-6">
                                <%= f.select :bank_account_type, options_for_select(BankAccountClient.bank_account_type.options), {}, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <%= f.label :bank_id, t("bank_account_clients.bank"), class: "col-lg-3 control-label text-lg-right" %>
                            <div class="col-lg-6">
                                <%= f.select :bank_id, options_for_select(@banks), {}, class: "form-control text-sm-right", "data-placeholder": t("bank_account_clients.bank"), id: "banks_select", onchange: "load_operation()" %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <%= f.label :agency, t("bank_account_clients.agency"), class: "col-lg-3 control-label text-lg-right" %>
                            <div class="col-lg-6">
                                <%=  f.number_field :agency, class:'form-control', required: :true, placeholder: t("bank_account_clients.agency_tip"), :maxlength => 10, :minlength => 2 %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <%= f.label :account_number, t("bank_account_clients.account_number"), class: "col-lg-3 control-label text-lg-right" %>
                            <div class="col-lg-6">
                                <%=  f.number_field :account_number, class:'form-control', required: :true, placeholder:t("bank_account_clients.account_number"), :maxlength => 10, :minlength => 2 %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <%= f.label :digit, t("bank_account_clients.digit"), class: "col-lg-3 control-label text-lg-right" %>

                            <div class="col-lg-5">
                                <%=  f.text_field :digit, class:'form-control', required: :true, placeholder:t("bank_account_clients.digit"), :maxlength => 1, :minlength => 1 %>
                            </div>

                            <p class="mr-2"><%=t("bank_account_clients.joint_account")%>?</p>
                            <%= f.check_box :joint%>
                        </div>



                        <div class="form-group row" style="display: none;" id="bank_account_clients_div">
                            <%= f.label :operation, t("bank_account_clients.operation") , class: "col-lg-3 control-label text-lg-right" %>
                            <div class="col-lg-6">
                                <%=  f.number_field :operation, class:'form-control', placeholder:t("bank_account_clients.operation"), :maxlength => 3 %>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                </div>
                                <div class="col-sm">

                                </div>
                                <div class="col-sm">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                </div>
                                <div class="col-sm">
                                    <%= recaptcha_tags %>
                                </div>
                                <div class="col-sm">
                                </div>
                            </div>
                        </div>
                        <%= f.submit t("bank_account_clients.save"), class: "mb-1 mt-1 mr-1 btn btn-success"%>
                        <% end %>
                    </div>
                </section>
            </div>
        </div>
        <!-- end: page -->
    </section>
</div>