<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("clients.index_indirect_clients")%></h2>
  </header>
  <div class="card-body">
    <table class="table table-bordered table-striped mb-0" id="index_indirect_clients">
      <thead>
        <tr>
          <th><%=t("clients.email")%></th>
          <th><%=t("clients.name")%></th>
          <th><%=t("clients.phone")%></th>
          <th><%=t("clients.status")%></th>
          <th><%=t("clients.level")%></th>
          <th><%=t("clients.invested_value")%></th>
          <th><%=t("clients.indicator")%></th>
        </tr>
      </thead>
      <tbody>
        <% indirect_clients.each do |client| %>
          <tr>
            <td><%= client.email %></td>
            <td><%= client.name %></td>
            <td><%= client.phone %></td>
            <td><%= t("common.status.#{client.status}") %></td>
            <td><%= t("clients.level_options.#{client.level}") %></td>
            <td><i class="fas fa-dollar-sign"></i> <%= User.find_by_email(client.email).get_invested_value %></td>
            <td><%= client.user&.email %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4"></th>
        </tr>
        <tr>
          <th><%=t("clients.direct_total")%></th>
          <td><%=indirect_clients.size%></td>
          <td></td>
          <td></td>
          <td></td>
          <th><%=t("clients.investiment_sum")%></th>
          <td><i class="fas fa-dollar-sign"></i> <%=@user.get_indirect_invested_value%></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
