<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("clients.my_indication_link")%></h2>
  </header>
  <div class="card-body">
    <input id="user_link" type="text" size="40" value=<%=@link%> readonly='true'>
    <button type="button" class="btn-sm btn-success" onclick="copy_link()"><i class="fas fa-copy"></i><%=t("deposits.copy")%> </button>
  </div>
</section>
<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("clients.index_direct_clients")%></h2>
  </header>
  <div class="card-body">
    <table class="table table-bordered table-striped mb-0" id="index_direct_clients">
      <thead>
        <tr>
          <th><%=t("clients.email")%></th>
          <th><%=t("clients.name")%></th>
          <th><%=t("clients.phone")%></th>
          <th><%=t("clients.status")%></th>
          <th><%=t("clients.level")%></th>
          <th><%=t("clients.invested_value")%></th>
        </tr>
      </thead>
      <tbody>
        <% direct_clients.each do |client| %>
          <tr>
            <% if admin_signed_in? %>
              <td><%= link_to client.email, edit_user_by_admin_path(client), target: :top%></td>
            <%else %>
              <td><%= client.email %></td>
            <%end%>
            <td><%= client.name %></td>
            <td><%= client.phone %></td>
            <td><%= t("common.status.#{client.status}") %></td>
            <td><%= t("clients.level_options.#{client.level}") %></td>
            <td><i class="fas fa-dollar-sign"></i> <%= client.get_invested_value %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4"></th>
        </tr>
        <tr>
          <th><%=t("clients.direct_total")%></th>
          <td><%=direct_clients.size%></td>
          <td></td>
          <td></td>
          <th><%=t("clients.investiment_sum")%></th>
          <td><i class="fas fa-dollar-sign"></i> <%=@user.get_direct_invested_value%></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
