<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Edit User</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Edit User</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <div class="row">
      <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <section class="card">
          <div class="card-body">
            <div class="thumb-info mb-3">
              <%=image_tag @user.avatar_url(:thumb), class: "rounded img-fluid"%>
              <div class="thumb-info-title">
                <span class="thumb-info-inner"><%=@user.name%></span>
                <span class="thumb-info-type"><%=@user.status%></span>
              </div>
            </div>
            <!-- 
            <div class="widget-toggle-expand mb-3">
              <div class="widget-header">
                <h5 class="mb-2">Profile Completion</h5>
                <div class="widget-toggle">+</div>
              </div>
              <div class="widget-content-collapsed">
                <div class="progress progress-xs light">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>
              </div>
              <div class="widget-content-expanded">
                <ul class="simple-todo-list mt-3">
                  <li class="completed">Update Profile Picture</li>
                  <li class="completed">Change Personal Information</li>
                  <li>Update Social Media</li>
                  <li>Follow Someone</li>
                </ul>
              </div>
            </div>
            <hr class="dotted short">
            <h5 class="mb-2 mt-3">About</h5>
            <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate quam. Interdum et malesuada</p>
            <div class="clearfix">
              <a class="text-uppercase text-muted float-right" href="#">(View All)</a>
            </div>
            <hr class="dotted short">
            <div class="social-icons-list">
              <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
            </div> -->
          </div>
        </section>
      </div>
      <div class="col-lg-8 col-xl-6">
        <div class="tabs">
          <ul class="nav nav-tabs tabs-primary">
            <li class="nav-item active">
              <a class="nav-link active" href="" data-toggle="tab">Personal Informations</a>
            </li>
            <%if @user.address.present? %>
              <li class="nav-item">
                <%= link_to "Address", edit_address_by_admin_path(@user.address), class: "nav-link" %>
              </li>
            <%end%>
            <li class="nav-item">
              <%= link_to "Clients", clients_by_admin_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Deposits", deposits_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Investiments", investiments_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Withdrawals", btc_withdraws_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%=link_to "Launches", launches_path(@user), class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%=link_to "Extract", show_extracts_by_admin_path(@user), class: "nav-link"%>
            </li>
          </ul>
          <div class="tab-content">
            <div id="user_info" class="tab-pane active">
              <div class="p-3">
                <%= form_for @user do |f| %>
                  <% if @user.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@user.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
                      <% @user.errors.full_messages.each do |message| %>
                        <div class="alert alert-danger">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <strong>Error! </strong><%= message %></div>
                      <% end %>
                    </div>
                  <% end %>
                  <div class="form-group">
                    <%= f.label "Indicator" %>
                    <%= f.select :user_id, User.all.collect{|x| [x.email, x.id]}, { include_blank: true }, class: "form-control", id: "select2"%>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= f.label t("profile.full_name") %>
                      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= f.label :username %>
                      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control",
                     minlength: "3", maxlength: "30"%>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label t("profile.cpf") %>
                      <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", class: "form-control"%>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <%= f.label :country %>
                      <%= f.select :country, options_for_select(ISO3166::Country.all_translated("en"), @user.country), {}, class: "form-control"  %>
                    </div>
                    <div class="form-group col-md-2">
                      <%= f.label :phone_code %>
                      <%= f.text_field :phone_code, autofocus: true, autocomplete: "phone code", class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label :phone %>
                      <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= f.label :level %><br />
                      <%= f.select :level, options_for_select(User.level.options, @user.level), {}, class: "form-control"%>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label :status %><br />
                      <%= f.select :status, options_for_select(User.status.options, @user.status), {}, class: "form-control"  %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-row col-md-6">
                      <%= f.label :password%>
                      <%= f.password_field :password, class: "form-control",
                     minlength: "6", maxlength: "32"%>
                    </div>
                    <div class="form-row col-md-6 mx-1">
                      <%= f.label :confirmed_at, class: "col-md-6 mx-1" %>
                      <div class="input-group mx-1">
                        <span class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-calendar-alt"></i>
                          </span>
                        </span>
                        <%= f.datetime_field :confirmed_at, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <br/>
                  <%= f.submit "Update User", class: "btn btn-success btn-lg btn-block" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%=render "shared/financial_info", user: @user%>
    </div>
    <!-- end: page -->
  </section>
</div>
