<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Users</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Users</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <div class="row">
      <div class="col">
        <section class="card">
          <header class="card-header">
            <h2 class="card-title">Index Users</h2>
          </header>
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0" id="index_users_by_admin">
              <thead>
                <tr>
                  <th>Registration Date</th>
                  <th>Email</th>
                  <th>Name</th>
                  <th>CPF</th>
                  <th>Status</th>
                  <th>Level</th>
                  <th>View Profile</th>
                  <th>Invested Value</th>
                  <th>Available Balance</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.created_at.strftime("%F %T") %></td>
                    <td><%= user.email %></td>
                    <td><%= user.name %></td>
                    <td><%= user.cpf %></td>
                    <td><%= user.status %></td>
                    <td><%= user.level %></td>
                    <td><%= link_to edit_user_by_admin_path(user) do %>
                        <i class="fas fa-eye"></i>
                      <%end%>
                    </td>
                    <td><%= user.get_invested_value %></td>
                    <td><%= user.account.available_balance %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    <!-- end: page -->
  </section>
</div>
