<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>My Clients</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Clients</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <div class="row">
      <div class="col">
        <%= render 'index_direct_clients', direct_clients: @direct_clients, indirect_clients: @indirect_clients, link: @link %>
        <% if @user.level.franchise?%>
          <%= render 'index_indirect_clients', indirect_clients: @indirect_clients %>
        <%end%>
      </div>
    </div>
    <!-- end: page -->
  </section>
</div>
