<section role="main" class="content-body">
  <header class="page-header">
    <h2>Minha Rede</h2>
    <div class="right-wrapper text-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li><span>Clients</span></li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
  </header>
  <!-- start: page -->
  <section class="card">
    <header class="card-header">
      <h2 class="card-title"><%=t("clients.my_indication_link")%></h2>
    </header>
    <div class="card-body">
      <div class="btn-group">
        <input id="user_link" type="text" size="140" class="form-control mr-4" value=<%=@link%> readonly='true'>
        <button type="button" class="btn btn-block btn-success mr-5" onclick="copy_link()"><i class="fas fa-copy"></i><%=t("deposits.copy")%> </button>
      </div>
    </section>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t("clients.customer_network")%></h2>
      </header>
      <div class="card-body">
        <div id="chart-container" style=" position: relative;
                                          display: inline-block;
                                          top: 10px;
                                          left: 10px;
                                          height: 420px;
                                          width: calc(100% - 24px);
                                          overflow: auto;
                                          text-align: center; "></div>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
<script type="text/javascript">
  data = <%=@tree_data.html_safe%>
  $('#chart-container').orgchart({
    'data' : data,
    'nodeContent': 'title'
  });
</script>
