<section role="main" class="content-body">
  <header class="page-header">
    <h2>Rede</h2>
    <div class="right-wrapper text-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li><span>Clientes</span></li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
  </header>
  <!-- start: page -->
  <section class="card">
    <header class="card-header">
        <h2 class="card-title"><%=t("clients.my_indication_link")%></h2>
    </header>
    <div class="card-body">
        <h2><%= link_to @link %></h2>
    </div>
    </section>
    <section class="card">
    <header class="card-header">
        <h2 class="card-title">Rede de Clientes</h2>
    </header>
    <div class="card-body">
        <div class="text-center">
        <div id="chart-container"></div>
        </div>
    </div>
  </section>
  <!-- end: page -->
</section>
</div>

<script type="text/javascript">
    data = <%=@tree_data.html_safe%>
    $('#chart-container').orgchart({
      'data' : data,
      'nodeContent': 'title'
    });
</script>
