<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("withdrawals.withdrawals")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("withdrawals.new_withdraw")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <div class="row">
      <div class="col">
        <section class="card">
          <header class="card-header">
            <h2 class="card-title"><%=t("withdrawals.new_withdraw")%></h2>
          </header>
          <div class="card-body">
            <% if btc_withdraw.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(btc_withdraw.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
                <% btc_withdraw.errors.full_messages.each do |message| %>
                  <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Error! </strong><%= message %></div>
                <% end %>
              </div>
            <% end %>
            <h3 class="text-center"><%=t("withdrawals.available_balance")%> <i class="fas fa-dollar-sign"></i> <%= current_user.account.available_balance%></h3>
            <br/>
            <%= form_with(model: btc_withdraw, local: true, class: "form-horizontal form-bordered") do |form| %>
              <div class="form-group row">
                <%= form.label t("withdrawals.value"), class: "col-lg-3 control-label text-lg-right" %><span class="required">*</span>
                <div class="col-lg-6">
                  <%= form.number_field :value, class: "form-control", min: 150.0, step: ".01", placeholder: "USD value", required: true, onkeyup: "set_withdrawn_amount()"%>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label t("withdrawals.btc_cotation"), class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <%= form.text_field :btc_cotation, class: "form-control", placeholder: "USD/BTC Cotation", disabled: true%>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label t("withdrawals.amount"), class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <%= form.number_field :amount, class: "form-control", placeholder: "Amount of bitcoin", disabled: true%>
                  <p id="fee_info"></p>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label t("withdrawals.destination"), class: "col-lg-3 control-label text-lg-right" %><span class="required">*</span>
                <div class="col-lg-6">
                  <%= form.text_field :destination, class:'form-control', placeholder: 'Wallet address', required: true,
                      "data-validation":"alphanumeric", "data-validation-error-msg": "Must be alphanumeric" %>
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-lg-3 control-label text-lg-right" for="btc_withdraw_destination"><%=t("withdrawals.total_value")%></label>
                <div class="col-lg-6">
                  <input class="form-control" type="text" id="total_withdraw_value" disabled>
                  <p><%=t("withdrawals.total_amount_explanation")%></p>
                </div>
              </div> -->
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                    <%= recaptcha_tags %>
                  </div>
                  <div class="col-sm">
                  </div>
                </div>
              </div>
              <%= form.submit t("withdrawals.submit_withdrawal"), class: "mb-1 mt-1 mr-1 btn btn-success"%>
            <%end%>
          </div>
        </section>
      </div>
    </div>
    <!-- end: page -->
  </section>
</div>
