<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Withdraw</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Withdraw</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications'%>
    <% if @btc_withdraw.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@btc_withdraw.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
        <% @btc_withdraw.errors.full_messages.each do |message| %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Error! </strong><%= message %></div>
        <% end %>
      </div>
    <% end %>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%="Withdraw Details"%></h2>
      </header>
      <div class="card-body">
        <div class="col-lg-6">
          <p>
            <strong>Value:</strong>
            <i class="fas fa-dollar-sign"></i> <%= @btc_withdraw.value %>
          </p>
          <p>
            <strong>Penalty Rate:</strong>
            <%= @btc_withdraw.penalty_rate %>
          </p>
          <p>
            <strong>Penalty Value:</strong>
            <i class="fas fa-dollar-sign"></i> <%= @btc_withdraw.penalty_value %>
          </p>
          <p>
            <strong>Btc Cotation:</strong>
            <i class="fas fa-dollar-sign"></i> <%= @btc_withdraw.btc_cotation %>
          </p>
          <p>
            <strong>Transaction hash:</strong>
            <%= @btc_withdraw.transaction_hash %>
          </p>
          <p>
            <strong>Status:</strong>
            <%= @btc_withdraw.status %>
          </p>
          <p>
            <strong>Amount:</strong>
            <i class="fab fa-btc"></i> <%= @btc_withdraw.amount&.to_bitcoin %>
          </p>
          <!--<p>
            <strong>Fee:</strong>
            <i class="fab fa-btc"></i> <%= @btc_withdraw.fee&.to_bitcoin %>
          </p> -->
          <p>
            <strong>Penalty Amount:</strong>
            <i class="fab fa-btc"></i> <%= @btc_withdraw.penalty_amount&.to_bitcoin %>
          </p>
          <p>
            <strong>Final Amount:</strong>
            <i class="fab fa-btc"></i> <%= @btc_withdraw.final_amount&.to_bitcoin %>
          </p>
          <p>
            <strong>Confirmations:</strong>
            <%= @btc_withdraw.confirmations %>
          </p>
          <p>
            <strong>Destination:</strong>
            <%= @btc_withdraw.destination %>
          </p>
          <p>
            <strong>Creation Date:</strong>
            <%= @btc_withdraw.created_at.strftime("%F %T") %>
          </p>
          <!--  <p>
            <strong>Absorved rate:</strong>
            <i class="fab fa-btc"></i> <%= @btc_withdraw.absorved_rate&.to_bitcoin  %>
          </p> -->
          <% if @btc_withdraw.status.pending_email? ||  @btc_withdraw.status.request_created?%>
            <%= form_for @btc_withdraw, url: {action: "apply_penalty"} do |f| %>
              <% if @btc_withdraw.penalty_rate.nil?%>
                <p>
                  <strong>Penalty Rate:</strong>
                </p>
                <div class="input-group mb-3">
                  <%= f.select :penalty_rate, options_for_select(BtcWithdraw.penalty_rate.options, @btc_withdraw.penalty_rate), {}, class: "form-control"%>
                  <span class="input-group-append">
                    <%= f.submit "Apply Penalty", class: "btn btn-warning" %>
                  </span>
                </div>
              <% end %>
            <% end %>
            <%= link_to 'Confirm', confirm_withdraw_path(@btc_withdraw), class: "btn btn-success btn-lg", data: { disable_with: "Processing", confirm: "Are you sure?" } %>
            <%= link_to 'Reverse', reverse_withdraw_path(@btc_withdraw), class: "btn btn-danger btn-lg", data: { disable_with: "Processing", confirm: "Are you sure?" } %>
          <%end%>
        </div>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
