<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("withdrawals.withdrawals")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("withdrawals.withdrawals")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t("withdrawals.btc_withdrawals")%></h2>
      </header>
      <div class="card-body">
        <table class="table table-responsive-md table-hover mb-0">
          <thead>
            <tr>
              <th><%=t("withdrawals.value")%></th>
              <th><%=t("withdrawals.btc_cotation")%></th>
              <th><%=t("withdrawals.view_transaction")%></th>
              <th><%=t("withdrawals.status")%></th>
              <th><%=t("withdrawals.amount")%></th>
              <!--<th><%=t("withdrawals.fee")%></th> -->
              <th><%=t("withdrawals.destination")%></th>
              <th><%=t("withdrawals.creation_date")%></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @btc_withdraws.each do |btc_withdraw| %>
              <tr>
                <td><i class="fas fa-dollar-sign"></i> <%= btc_withdraw.value %></td>
                <td><i class="fas fa-dollar-sign"></i> <%= btc_withdraw.btc_cotation %></td>
                <td align="center">
                  <%if btc_withdraw.status.confirmed? || btc_withdraw.status.unconfirmed?%>
                    <%= link_to "https://live.blockcypher.com/btc/tx/" + btc_withdraw.transaction_hash, target: :_blank do %>
                      <i class="fas fa-external-link-alt"></i>
                    <%end%>
                  <%end%>
                </td>
                <td><%= t("common.status.#{btc_withdraw.status}") %></td>
                <td><i class="fab fa-btc"></i> <%= btc_withdraw.amount&.to_bitcoin %></td>
                <!--<td><i class="fab fa-btc"> <%= btc_withdraw.fee&.to_bitcoin %></td>-->
                <td><%= btc_withdraw.destination %></td>
                <td><%= l(btc_withdraw.created_at) %></td>
                <td><%= link_to t("withdrawals.resend_mail"), resend_withdraw_mail_path(btc_withdraw) if btc_withdraw.status.pending_email? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to t('withdrawals.new_btc_withdraw'), new_btc_withdraw_path, class: "mb-1 mt-1 mr-1 btn btn-primary" %>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
