<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Withdraws</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Withdraws</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <section class="card">
      <header class="card-header">
        <h2 class="card-title">BTC Withdraws</h2>
      </header>
      <div class="card-body">
        <div class = "col-md-6 mx-auto">
          <div class="tabs">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <%= link_to btc_withdraws_by_admin_path(:status => "pending_email"), class: "#{decide_tab_activate("pending_email", params[:status])}" do %> <%= t("btc_withdraws.pending_email")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_btc_withdraws("pending_email")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to btc_withdraws_by_admin_path(:status => "request_created"), class: "#{decide_tab_activate("request_created", params[:status])}" do %> <%= t("btc_withdraws.pending")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_btc_withdraws("request_created")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to btc_withdraws_by_admin_path(:status => "confirmed"), class: "#{decide_tab_activate("confirmed", params[:status])}" do %> <%= t("btc_withdraws.confirmed")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_btc_withdraws("confirmed")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to btc_withdraws_by_admin_path(:status => "unconfirmed"), class: "#{decide_tab_activate("unconfirmed", params[:status])}" do %> <%= t("btc_withdraws.unconfirmed")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_btc_withdraws("unconfirmed")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to btc_withdraws_by_admin_path(:status => "canceled"), class: "#{decide_tab_activate("canceled", params[:status])}" do %> <%= t("btc_withdraws.canceled")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_btc_withdraws("canceled")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to btc_withdraws_by_admin_path(:status => "reversed"), class: "#{decide_tab_activate("reversed", params[:status])}" do %> <%= t("btc_withdraws.reversed")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_btc_withdraws("reversed")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to btc_withdraws_by_admin_path(:status => "all"), class: "#{decide_tab_activate("all", params[:status])}" do %> <%= t("btc_withdraws.all")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_btc_withdraws("all")%></span> <%end%>
              </li>
            </ul>
          </div>
        </div>
        <table class="table table-bordered table-striped mb-0" id="index_withdraws_by_admin">
          <thead>
            <tr>
              <th>User Email</th>
              <th>Value</th>
              <th>BTC Cotation</th>
              <th>Transaction hash</th>
              <th>Status</th>
              <th>Amount</th>
              <!-- <th>Fee</th> -->
              <!-- <th>Absorved Rate</th> -->
              <th>Destination</th>
              <th>Creation Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% @btc_withdraws.each do |withdraw| %>
              <tr>
                <td> <%= link_to withdraw.user.email, edit_user_by_admin_path(withdraw.user), target: :_blank %></td>
                <td><i class="fas fa-dollar-sign"></i> <%= withdraw.value %></td>
                <td><i class="fas fa-dollar-sign"></i> <%= withdraw.btc_cotation %></td>
                <td>
                  <%if withdraw.status.confirmed? || withdraw.status.unconfirmed?%>
                    <%= link_to "https://live.blockcypher.com/btc/tx/" + withdraw.transaction_hash,  target: :_blank do %>
                      <i class="fas fa-external-link-alt"></i>
                    <%end%>
                  <%end%>
                </td>
                <td><%= withdraw.status %></td>
                <td><i class="fab fa-btc"></i> <%= withdraw.amount&.to_bitcoin %></td>
                <!--<td><i class="fab fa-btc"></i> <%= withdraw.fee&.to_bitcoin %></td> -->
                <!--<td><i class="fab fa-btc"></i> <%= withdraw.absorved_rate&.to_bitcoin %></td>-->
                <td><%= withdraw.destination %></td>
                <td><%= withdraw.created_at.strftime("%F %T") %></td>
                <td>
                  <%= link_to edit_btc_withdraw_path(withdraw), target: :_blank  do %>
                    <i class="fas fa-eye"></i>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
