<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- start: page -->
  <section class="body-sign">
    <div class="center-sign">
      <a href="/" class="logo float-left">
        <%=image_tag("logo.png", height: "80", alt: "Porto Admin")%>
      </a>
      <div class="panel card-sign">
        <div class="card-title-sign mt-3 text-right">
          <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Sign In</h2>
        </div>
        <div class="card-body">
          <%=render 'notifications'%>
          <form action="index.html" method="post">
            <div class="form-group mb-3">
              <%= f.label :email %>
              <div class="input-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                <span class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="clearfix">
                <%= f.label :password, class: "float-left" %>
              </div>
              <div class="input-group">
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                <span class="input-group-append">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </span>
              </div>
            </div>
            <br>
            <%= recaptcha_tags %>
            <br>
            <div class="row">
              <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                  <%= f.check_box :remember_me, id: "RememberMe" %>
                  <%= f.label :remember_me %>
                </div>
              </div>
              <div class="col-sm-4 text-right">
                <%= f.submit "Sign In", class: "btn btn-primary mt-2" %>
              </div>
            </div>
          </form>
        </div>
      </div>
      <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
    </div>
  </section>
  <!-- end: page -->
<%end%>
