<div style="background-image: url(<%= image_url('background.jpeg')%>); background-size: 100% 100%;">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <!-- start: page -->
    <section class="body-sign">
      <div class="center-sign">
        <a href="/" class="logo float-left">
          <%=image_tag("logo.png", height: "80", alt: "Porto Admin")%>
        </a>
        <div class="panel card-sign">
          <div class="card-title-sign mt-3 text-right">
            <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Reset Password</h2>
          </div>
          <div class="card-body">
            <%=render 'notifications'%>
            <%= render "devise/shared/error_messages", resource: resource %>
            <form>
              <%= f.hidden_field :reset_password_token %>
              <div class="form-group mb-3">
                <%= f.label :password, "New password" %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"%>
              </div>
              <div class="form-group mb-3">
                <%= f.label :password_confirmation, "Confirm new password" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
              </div>
              <br>
              <%= recaptcha_tags %>
              <br>
              <div class="col-sm-12 text-right">
                <%= f.submit "Change My Password", class: "btn btn-primary mt-2" %>
              </div>
            </form>
            <span class="mt-3 mb-3 line-thru text-center text-uppercase">
              <span>or</span>
            </span>
            <!-- <p class="text-center">Don't have an account yet? 
            <%#= link_to "Sign Up!", new_registration_path(resource_name) %></p> -->
            <p class="text-center mt-3">Already have an account?
              <%= link_to "Sign In!", new_session_path(resource_name) %></p>
            <p class="text-center mt-3">Did not receive confirmation email?
              <%= link_to "Resend!", new_user_confirmation_path %></p>
            <p class="text-center mt-3">Lost your password? 
              <%= link_to "Reset Password!", new_user_password_path %></p>
          </div>
        </div>
        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
      </div>
    </section>
    <!-- end: page -->
  <% end %>
</div>
