<div class="col-xl-3">
  <h4 class="mb-3 mt-0"><%= t("profile.personal_financial_info") %></h4>
  <ul class="simple-card-list mb-3">
    <li class="primary">
      <h3><i class="fas fa-dollar-sign"></i> <%=user.account.available_balance%></h3>
      <p class="text-light"><%= t("profile.available_balance")%></p>
    </li>
    <li class="primary">
      <h3><i class="fas fa-dollar-sign"></i> <%=user.investiments.where(status: :activated).sum(:accumulated_value)%>
      </h3>
      <p class="text-light"><%= t("profile.accumulated_balance")%></p>
    </li>
    <li class="primary">
      <h3><%=user.investiments.where(status: :activated).count%> </h3>
      <p class="text-light"><%= t("profile.activated_investiments")%></p>
    </li>
    <li class="primary">
      <h3><i class="fas fa-dollar-sign"></i> <%=user.get_invested_value%></h3>
      <p class="text-light"><%= t("profile.total_of_investiments")%></p>
    </li>
    <% unless user.level.basic?%>
    <h4 class="mb-3 mt-0"><%= t("profile.direct_financial_info") %></h4>
    <li class="primary">
      <h3><%=user.users.count%></h3>
      <p class="text-light"><%= t("profile.direct_clients_indicated")%></p>
    </li>
    <li class="primary">
      <h3><i class="fas fa-dollar-sign"></i> <%=user.get_direct_invested_value%></h3>
      <p class="text-light"><%= t("profile.total_of_network_investiments")%></p>
    </li>
    <%end%>
    <% if user.level.franchise?%>
    <h4 class="mb-3 mt-0"><%= t("profile.indirect_financial_info") %></h4>
    <li class="primary">
      <h3><%=user.get_indirect_users.count%></h3>
      <p class="text-light"><%= t("profile.indirect_clients_indicated")%></p>
    </li>
    <li class="primary">
      <h3><i class="fas fa-dollar-sign"></i> <%=user.get_indirect_invested_value%></h3>
      <p class="text-light"><%= t("profile.total_of_network_investiments")%></p>
    </li>
    <%end%>
  </ul>
  <!-- 
  <h4 class="mb-3 mt-4 pt-2">xrojects</h4>
    <ul class="simple-bullet-list mb-3">
        <li class="red">
        <span class="title">Porto Template</span>
        <span class="description truncate">Lorem ipsom dolor sit.</span>
        </li>
        <li class="green">
        <span class="title">Tucson HTML5 Template</span>
        <span class="description truncate">Lorem ipsom dolor sit amet</span>
        </li>
        <li class="blue">
        <span class="title">Porto HTML5 Template</span>
        <span class="description truncate">Lorem ipsom dolor sit.</span>
        </li>
        <li class="orange">
        <span class="title">Tucson Template</span>
        <span class="description truncate">Lorem ipsom dolor sit.</span>
        </li>
    </ul>-->
</div>