<!-- start: header -->
<header class="header header-nav-menu">
  <div class="logo-container">
    <a href="../" class="logo">
      <%=image_tag("logo.png", height: "45", alt: "Porto Admin")%>
    </a>
    <button class="btn header-btn-collapse-nav d-lg-none" data-toggle="collapse" data-target=".header-nav">
      <i class="fas fa-bars"></i>
    </button>
    <!-- start: header nav menu -->
    <div class="header-nav collapse">
      <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
        <nav>
          <ul class="nav nav-pills" id="mainNav">
            <li class="">
              <%= link_to t("shared.header.dashboard"), root_path, class: "nav-link"  %>
            </li>
            <% if user_signed_in? %>
              <% unless current_user.level.basic? %>
                <li class="">
                  <%= link_to t('shared.header.clients'), index_clients_path, class: "nav-link" %>
                </li>
              <li class="">
                <%= link_to t('shared.header.support_material'), new_upload_path, class: "nav-link" %>
              </li>
              <% end %>
              <li class="">
                <%= link_to t('shared.header.deposits'), deposits_path, class: "nav-link" %>
              </li>
              <li class="">
                <%= link_to t('shared.header.investiments'), investiments_path, class: "nav-link"%>
              </li>
              <li class="">
                <%= link_to t('shared.header.withdrawals'), btc_withdraws_path, class: "nav-link" %>
              </li>
              <li class="">
                <%= link_to t('shared.header.support'), new_contact_path, class: "nav-link" %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="">
                <%= link_to t('shared.header.users'), index_users_by_admin_path, class: "nav-link"  %>
              </li>
              <li class="">
                <%= link_to t('shared.header.deposits'), deposits_by_admin_path, class: "nav-link" %>
              </li>
              <li class="">
                <%= link_to t('shared.header.investiments'), investiments_by_admin_path, class: "nav-link" %>
              </li>
              <li class="">
                <%= link_to t('shared.header.withdrawals'), btc_withdraws_by_admin_path, class: "nav-link" %>
              </li>
              <li class="">
                <%= link_to t('shared.header.reports'), financial_report_path, class: "nav-link" %>
              </li>
              <li class="">
                <%= link_to t('shared.header.support_material'), new_upload_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <!-- end: header nav menu -->
  </div>
  <!-- start: search & user box -->
  <div class="header-right">
    <span class="separator"></span>
    <a href="<%= request.path %>?locale=en">
      <span class="flag-icon flag-icon-us mr-4 ml-4"></span>
    </a>
    <span class="separator"></span>
    <a href="<%= request.path %>?locale=pt-BR">
      <span class="flag-icon flag-icon-br mr-4 ml-4"></span>
    </a>
    <span class="separator"></span>
    <div id="userbox" class="userbox">
      <a href="#" data-toggle="dropdown">
        <figure class="profile-picture">
          <%=image_tag("logo.png", alt: "Porto Admin", class: "rounded-circle")%>
        </figure>
        <div class="profile-info" >
          <% if user_signed_in? %>
            <span class="name"><%=current_user.name%></span>
            <span class="role"><%=t("common.status.#{current_user.status}")%></span>
          <%elsif admin_signed_in?%>
            <span class="name"><%=current_admin.name%></span>
          <%end%>
        </div>
        <i class="fa custom-caret"></i>
      </a>
      <div class="dropdown-menu">
        <ul class="list-unstyled">
          <li class="divider"></li>
          <% if user_signed_in? %>
            <li>
              <%= link_to(edit_user_registration_path, role: "menuitem", tabindex: "-1") do %>
                <i class="fas fa-user"></i> <%=t("common.my_profile")%>
              <% end %>
            </li>
            <li>
              <%= link_to(destroy_user_session_path, method: :delete, role: "menuitem", tabindex: "-1") do %>
                <i class="fas fa-power-off"></i><%=t("common.logout")%>
              <%end%>
            </li>
          <% elsif admin_signed_in?%>
            <li>
              <%= link_to(destroy_admin_session_path, method: :delete, role: "menuitem", tabindex: "-1") do %>
                <i class="fas fa-power-off"></i> <%=t("common.logout")%>
              <%end%>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
  <!-- end: search & user box -->
</header>
<!-- end: header -->
