<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("contacts.support")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("contacts.support")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <section class="card">
      <div class="card-header">
        <h2 class="card-title"><%= t("contacts.send_your_question")%></h2>
      </div>
      <div class="card-body">
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
            <% @contact.errors.full_messages.each do |message| %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Error! </strong><%= message %></div>
            <% end %>
          </div>
        <% end %>
        <%= form_for(@contact, class: "form-horizontal form-bordered") do |f| %>
          <div class="form-group row">
            <%= f.label t("contacts.name"), class: "col-lg-3 control-label text-lg-right" %><span
        class="required">*</span>
            <div class="col-lg-6">
              <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true, value: @user&.name %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label t("contacts.email"), class: "col-lg-3 control-label text-lg-right" %><span
        class="required">*</span>
            <div class="col-lg-6">
              <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true, value: @user&.email %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label t("contacts.message"), class: "col-lg-3 control-label text-lg-right" %><span
        class="required">*</span>
            <div class="col-lg-6">
              <%= f.text_area :message, class: "form-control", placeholder: "Message", required: true %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col md-4"></div>
            <div class="col md-4">
              <%= recaptcha_tags %>
            </div>
            <div class="col md-4"></div>
          </div>
          <%= f.submit t("contacts.send_mail"), class: "mb-1 mt-1 mr-1 btn btn-success"%>
        <%end%>
      </div>
      <div class="card-footer">
      </div>
    </section>
  </section>
</div>
