<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Launches</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Launches</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <div class="row">
      <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <section class="card">
          <div class="card-body">
            <div class="thumb-info mb-3">
              <%=image_tag @user.avatar_url(:thumb), class: "rounded img-fluid"%>
              <div class="thumb-info-title">
                <span class="thumb-info-inner"><%=@user.name%></span>
                <span class="thumb-info-type"><%=@user.status%></span>
              </div>
            </div>
            <!-- 
            <div class="widget-toggle-expand mb-3">
              <div class="widget-header">
                <h5 class="mb-2">Profile Completion</h5>
                <div class="widget-toggle">+</div>
              </div>
              <div class="widget-content-collapsed">
                <div class="progress progress-xs light">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>
              </div>
              <div class="widget-content-expanded">
                <ul class="simple-todo-list mt-3">
                  <li class="completed">Update Profile Picture</li>
                  <li class="completed">Change Personal Information</li>
                  <li>Update Social Media</li>
                  <li>Follow Someone</li>
                </ul>
              </div>
            </div>
            <hr class="dotted short">
            <h5 class="mb-2 mt-3">About</h5>
            <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate quam. Interdum et malesuada</p>
            <div class="clearfix">
              <a class="text-uppercase text-muted float-right" href="#">(View All)</a>
            </div>
            <hr class="dotted short">
            <div class="social-icons-list">
              <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
            </div> -->
          </div>
        </section>
      </div>
      <div class="col-lg-8 col-xl-6">
        <div class="tabs">
          <ul class="nav nav-tabs tabs-primary">
            <li class="nav-item">
              <%=link_to "Personal Informations", edit_user_by_admin_path(@user), class: "nav-link"%>
            </li>
            <%if @user.address.present? %>
              <li class="nav-item">
                <%= link_to "Address", edit_address_by_admin_path(@user.address), class: "nav-link" %>
              </li>
            <%end%>
            <li class="nav-item">
              <%= link_to "Clients", clients_by_admin_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Deposits", deposits_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Investiments", investiments_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Withdrawals", btc_withdraws_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="" data-toggle="tab">Launches</a>
            </li>
            <li class="nav-item">
              <%=link_to "Extract", show_extracts_by_admin_path(@user), class: "nav-link"%>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <section class="card">
                <header class="card-header">
                  <h2 class="card-title">All Launches</h2>
                </header>
                <div class="card-body">
                  <table class="table table-bordered table-striped mb-0">
                    <thead>
                      <tr>
                        <th>Value</th>
                        <th>Type of Balance</th>
                        <th>Observation</th>
                        <th>Creation Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @launches.each do |launch| %>
                        <tr>
                          <td><%= launch.value %></td>
                          <td><%= launch.type_of_balance %></td>
                          <td><%= launch.observation %></td>
                          <td><%= launch.created_at.strftime("%F %T") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </section>
              <section class="card">
                <header class="card-header">
                  <h2 class="card-title">New Launch</h2>
                </header>
                <div class="card-body">
                  <%= form_for @launch do |f| %>
                    <div class="form-group">
                      <%= f.label :value %>
                      <%= f.number_field :value, autofocus: true, step: ".01", class: "form-control", required: "true" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :type_of_balance %>
                      <%= f.select :type_of_balance, options_for_select(Launch.type_of_balance.options), {}, class: "form-control"  %>
                    </div>
                    <div class="form-group">
                      <%= f.label :observation %>
                      <%= f.text_field :observation, autofocus: true, class: "form-control" %>
                    </div>
                    <br>
                    <%= f.submit "Submit Launcher", class: "btn btn-success btn-lg btn-block" %>
                  <%end%>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <%=render "shared/financial_info", user: @user%>
    </div>
    <!-- end: page -->
  </section>
</div>
