<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Deposits</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Deposits</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <section class="card">
      <header class="card-header">
        <h2 class="card-title">Deposits</h2>
      </header>
      <div class="card-body">
        <table class="table table-bordered table-striped mb-0" id="index_deposits_by_admin">
          <thead>
            <tr>
              <th>User Email</th>
              <th>Value</th>
              <th>BTC Cotation</th>
              <th>View Transaction Entry</th>
              <th>View Redirect Transaction</th>
              <th>Status</th>
              <th>Amount</th>
              <th>Creation Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% @deposits.each do |deposit| %>
              <tr>
                <td> <%= link_to deposit.user.email, edit_user_by_admin_path(deposit.user), target: :_blank %>
                </td>
                <td><i class="fas fa-dollar-sign"></i> <%= deposit.value %></td>
                <td><i class="fas fa-dollar-sign"></i> <%= deposit.btc_cotation %></td>
                <td>
                  <%= link_to "https://live.blockcypher.com/btc/tx/" + deposit.prev_hash,  target: :_blank do %>
                    <i class="fas fa-external-link-alt"></i>
                  <%end%>
                </td>
                <td>
                  <%= link_to "https://live.blockcypher.com/btc/tx/" + deposit.transaction_hash, target: :_blank do %>
                    <i class="fas fa-external-link-alt"></i>
                  <%end%>
                </td>
                <td><%= deposit.status %></td>
                <td><i class="fab fa-btc"></i> <%= deposit.amount.to_bitcoin %></td>
                <td><%= deposit.created_at.strftime("%F %T") %></td>
                <td>
                  <%= link_to deposit, target: :_blank do %>
                    <i class="fas fa-eye"></i>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
