<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("deposits.deposits")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("deposits.deposits")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t("deposits.btc_deposits")%></h2>
      </header>
      <div class="card-body">
        <table class="table table-responsive-md table-hover mb-0">
          <thead>
            <tr>
              <th><%=t("deposits.value")%></th>
              <th><%=t("deposits.status")%></th>
              <th><%=t("deposits.creation_date")%></th>
            </tr>
          </thead>
          <tbody>
            <% @deposits.each do |deposit| %>
              <tr>
                <td><i class="fas fa-dollar-sign"></i> <%= deposit.amount.to_brl %></td>
                <td><%= t("common.status.#{deposit.status}") %></td>
                <td><%= l(deposit.created_at) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to t("deposits.new_btc_deposit"), new_deposit_path, class: "mb-1 mt-1 mr-1 btn btn-primary" %>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
