<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("deposits.deposits")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
            <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("deposits.new_deposit")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <div class="row">
      <div class="col">
        <section class="card">
          <header class="card-header">
            <h2 class="card-title"><%=t("deposits.new_deposit")%></h2>
          </header>
          <div class="card-body">
            <% if @deposit.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@deposit.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
              <% @deposit.errors.full_messages.each do |message| %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Error! </strong><%= message %></div>
              <% end %>
            </div>
            <% end %>
            <br />
            <%= form_with(model: @deposit, local: true, class: "form-horizontal form-bordered") do |form| %>
            <div class="form-group row">
              <%= form.label :bank_account_client_id, t("deposits.your_bank_account"), class: "col-lg-3 control-label text-lg-right" %><span
                class="required">*</span>
              <div class="col-lg-6">
                <%= select_tag :bank_account_client_id, options_for_select(@fields), :class => 'form-control selectpicker', :include_blank => true, required: true%>
                <small><%="*" + t("deposits.bank_account_same_ownership")%></small>
                <%= link_to t("bank_account_clients.register_new"), new_bank_account_client_path, class: 'btn btn-xs btn-info pull-right mt-1'%>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label :deposit_form, t("deposits.transfer_type"), class: "col-lg-3 control-label text-lg-right" %><span
                class="required">*</span>
              <div class="col-lg-6">
                <%= select_tag :deposit_form, options_for_select(['TED', 'DOC']), :class => 'form-control selectpicker', :include_blank => true, required: true%>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label :bank_account_sys_admin_id, t("deposits.destination_bank_account"), class: "col-lg-3 control-label text-lg-right" %><span
                class="required">*</span>
              <div class="col-lg-6">
                <%= select_tag :bank_account_sys_admin_id, options_for_select(@banks_sys_admin_select, 1), :class => 'form-control selectpicker', :include_blank => true, required: true%>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label :cnpj, "CNPJ", class: "col-lg-3 control-label text-lg-right" %>
              <div class="col-lg-6">
                <%= form.text_field :cnpj, value: "30.940.160/0001-81", disabled: true, class: "form-control"%>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label t("deposits.favored"), class: "col-lg-3 control-label text-lg-right" %>
              <div class="col-lg-6">
                <%= form.text_field :favored, value: "BOLSA BRASILEIRA DE GEMAS E METAIS LTDA", disabled: true, class: "form-control"%>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label :amount, t("deposits.value"), class: "col-lg-3 control-label text-lg-right" %><span
                class="required">*</span>
              <div class="col-lg-6">
                <%= number_field_tag :amount, "",  :step => 0.01,class: "form-control", placeholder: "Valor", required: true%>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label :voucher, t("deposits.voucher"), class: "col-lg-3 control-label text-lg-right" %><span
                class="required">*</span>
              <div class="col-lg-6">
                <%= file_field_tag :voucher, class: "form-control", required: true%>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                  <%= recaptcha_tags %>
                </div>
                <div class="col-sm">
                </div>
              </div>
            </div>
            <%= form.submit t("deposits.send"), class: "mb-1 mt-1 mr-1 btn btn-success"%>
            <%end%>
          </div>
        </section>
      </div>
    </div>
    <!-- end: page -->
  </section>
</div>