<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Deposit</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Deposit</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t('common.user_information')%></h2>
      </header>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <h5><%=t('common.email')%></h5>
            <%= link_to @deposit.user.email, edit_user_by_admin_path(@deposit.user), target: :blank%>
          </div>
          <div class="col-md-3">
            <h5><%=t('common.name')%></h5>
            <%=@deposit.user.name%>
          </div>
          <div class="col-md-3">
            <h5><%=t('common.cpf')%></h5>
            <%=@deposit.user.cpf%>
          </div>
          <div class="col-md-3">
            <h5>Status</h5>
            <%=t("common.status.#{@deposit.user.status}")%>
          </div>
        </div>
      </div>
    </section>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%="Deposit Details"%></h2>
      </header>
      <div class="card-body">
        <p>
          <strong>Value:</strong>
          <i class="fas fa-dollar-sign"></i> <%= @deposit.value %>
        </p>
        <p>
          <strong>Btc Cotation:</strong>
          <i class="fas fa-dollar-sign"></i> <%= @deposit.btc_cotation %>
        </p>
        <p>
          <strong>Transaction Entry Hash:</strong>
          <%= @deposit.transaction_hash %>
        </p>
        <p>
          <strong>Redirect Transaction Hash:</strong>
          <%= @deposit.prev_hash %>
        </p>
        <p>
          <strong>Status:</strong>
          <%= @deposit.status %>
        </p>
        <p>
          <strong>Amount:</strong>
          <i class="fab fa-btc"></i> <%= @deposit.amount.to_bitcoin %>
        </p>
        <p>
          <strong>Fee:</strong>
          <i class="fab fa-btc"></i> <%= @deposit.fee.to_bitcoin %>
        </p>
        <p>
          <strong>Confirmations:</strong>
          <%= @deposit.confirmations %>
        </p>
        <p>
          <strong>Sender:</strong>
          <%= @deposit.sender %>
        </p>
        <p>
          <strong>Created_at:</strong>
          <%= @deposit.created_at.strftime("%F %T") %>
        </p>
      </section>
    </div>
    <!-- end: page -->
  </section>
</div>
