<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
      <% address.errors.full_messages.each do |message| %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <strong>Error! </strong><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label t("addresses.address1") %>
    <%= form.text_field :address1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label t("addresses.address2") %>
    <%= form.text_field :address2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label t("addresses.city") %>
    <%= form.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label t("addresses.zipcode") %>
    <%= form.text_field :zipcode, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label t("addresses.state") %>
    <%= form.text_field :state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label t("addresses.country") %>
    <%= form.select :country, options_for_select(ISO3166::Country.all_translated("en"), address.country), {}, class: "form-control"  %>
  </div>
  <div class="actions">
    <%= form.submit t("addresses.update_address"), class: "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
