<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Dashboard</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Dashboard</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4">
          <header class="card-header">
            <h2 class="card-title">Wallets</h2>
          </header>
          <div class="card-body">
            <section class="card mb-3">
              <header class="card-header bg-secondary">
                <h2 class="card-title" style="color: white;"> Hot Wallet</h2>
              </header>
              <div class="card-body">
                <strong>Hot Wallet Address: </strong> <%=@hot_wallet_address%>
              </div>
              <div class="card-footer">
                <strong>Hot Wallet Balance: </strong><i class="fab fa-btc"></i> <%=@hot_wallet_balance.to_bitcoin%>
              </div>
            </section>
            <section class="card mb-3">
              <header class="card-header bg-primary">
                <h2 class="card-title" style="color: white;">Cold Wallet</h2>
              </header>
              <div class="card-body">
                <strong>Cold Wallet Address: </strong> <%=@cold_wallet_address%>
              </div>
              <div class="card-footer ">
                <strong>Hot Wallet Balance: </strong><i class="fab fa-btc"></i> <%=@cold_wallet_balance.to_bitcoin%>
              </div>
            </section>
          </div>
        </div>
        <section class="card mb-4">
          <header class="card-header">
            <h2 class="card-title">Financial Info</h2>
          </header>
          <div class="card-body">
            <section class="card card-featured-left card-featured-primary mb-2">
              <div class="card-body">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-primary">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h3 class="title">Saldo Disponível Total</h3>
                      <div class="info">
                        <strong class="amount"><i class="fas fa-dollar-sign"></i> <%= @available_balance %></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <br>
            <section class="card card-featured-left card-featured-secondary mb-2">
              <div class="card-body">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-secondary">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h3 class="title">Saldo Acumulado Total</h3>
                      <div class="info">
                        <strong class="amount"><i class="fas fa-dollar-sign"></i> <%= @accumulated_balance %></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
      <!-- End Left Side -->
      <div class="col-lg-6">
        <section class="card mb-4">
          <header class="card-header">
            <h2 class="card-title">Users</h2>
          </header>
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-xl-6">
                <section class="card card-featured-left card-featured-quaternary mb-5">
                  <div class="card-body">
                    <div class="widget-summary widget-summary">
                      <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-quaternary">
                          <i class="fas fa-user-tie"></i>
                        </div>
                      </div>
                      <div class="widget-summary-col">
                        <div class="summary">
                          <h3 class="title">Número de Usuários</h3>
                          <div class="info">
                            <strong class="amount"><%= @users_count%></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-xl-6">
                <section class="card card-featured-left card-featured-primary mb-5">
                  <div class="card-body">
                    <div class="widget-summary widget-summary">
                      <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-primary">
                          <i class="fas fa-user-tie"></i>
                        </div>
                      </div>
                      <div class="widget-summary-col">
                        <div class="summary">
                          <h3 class="title">Usuáios Verificados</h3>
                          <div class="info">
                            <strong class="amount"> <%= @users_verified_count%></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- End First Row -->
            <div class="row mb-4">
              <div class="col-xl-6">
                <section class="card card-featured-left card-featured-tertiary mb-3">
                  <div class="card-body">
                    <div class="widget-summary widget-summary">
                      <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-tertiary">
                          <i class="fas fa-user-tie"></i>
                        </div>
                      </div>
                      <div class="widget-summary-col">
                        <div class="summary">
                          <h4 class="title">Aguardando Verificação</h4>
                          <div class="info">
                            <strong class="amount"><%=@users_waiting_count %></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-xl-6">
                <section class="card card-featured-left card-featured-secondary mb-3">
                  <div class="card-body">
                    <div class="widget-summary widget-summary">
                      <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-secondary">
                          <i class="fas fa-user-tie"></i>
                        </div>
                      </div>
                      <div class="widget-summary-col">
                        <div class="summary">
                          <h4 class="title">Usuários Pendentes</h4>
                          <div class="info">
                            <strong class="amount"><%= @users_pending_count %></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- End Second Row-->
          </div>
          <!-- End Card Body-->
        </section>
        <!-- End Card-->
        <section class="card mb-4">
          <header class="card-header">
            <h2 class="card-title">Investiments</h2>
          </header>
          <div class="card-body">
            <section class="card card-featured-top card-featured-primary">
              <div class="card-body">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-primary">
                      <i class="fas fa-life-ring"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Valor Investido</h4>
                      <div class="info">
                        <strong class="amount"><i class="fas fa-dollar-sign"></i> <%= @investiment_sum%></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="card card-featured-top card-featured-tertiary">
              <div class="card-body">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-tertiary">
                      <i class="fas fa-life-ring"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Número de Investimentos</h4>
                      <div class="info">
                        <strong class="amount"><i class="fas fa-dollar-sign"></i> <%= @investiments_count%></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
      <!-- End Right Side-->
    </div>
    <!-- End Row-->
  </section>
</div>
