<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("commissions.commissions")%></h2>
  </header>
  <div class="card-body">
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th><%= t("commissions.commission_rate")%></th>
          <th><%=t("commissions.investor")%></th>
          <th><%= t("commissions.status")%></th>
          <th><%= t("commissions.paid_at")%></th>
          <th><%= t("commissions.value")%></th>
        </tr>
      </thead>
      <tbody>
        <% @commissions.each do |commission| %>
          <tr>
            <td><%= commission.commission_rate * 100 %> %</td>
            <td><%=commission.investiment.user.email%></td>
            <td><%= t("common.status.#{commission.status}") %></td>
            <td><%= l(commission.paid_at) %></td>
            <td><i class="fas fa-dollar-sign"></i> <%= commission.value %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4"></th>
        </tr>
        <tr>
          <th style= "text-align:right" colspan="4"><%=t("commissions.total_value")%></th>
          <td><%=@commissions.sum(:value)%></td>
        </tr>
      </tfoot>
    </table>
    <!-- end: page -->
  </section>
</div>
