<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("remunerations.last_remunerations")%></h2>
  </header>
  <div class="card-body">
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th><%=t("remunerations.status")%></th>
          <th><%=t("remunerations.remuneration_date")%></th>
          <th><%=t("remunerations.paid_at")%></th>
          <th><%=t("remunerations.value")%></th>
        </tr>
      </thead>
      <tbody>
        <% @remunerations.each do |remuneration| %>
          <tr>
            <td><%= t("common.status.#{remuneration.status}") %></td>
            <td><%= remuneration.remuneration_date.blank? ? "" : l(remuneration.remuneration_date) %></td>
            <td><%= remuneration.paid_at.blank? ? "" : l(remuneration.paid_at) %></td>
            <td><i class="fas fa-dollar-sign"></i> <%= remuneration.value %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3"></th>
        </tr>
        <tr>
          <th style= "text-align:right" colspan="3"><%=t("remunerations.total_value")%></th>
          <td><%=@total_amount_received%></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
<!-- end: page -->
