<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("dashboard.dashboard")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li>
            <span>
              <%=t("dashboard.dashboard")%>
            </span>
          </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%if current_user.status.pending?%>
      <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Informação</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-wrapper">
                <div class="modal-icon">
                  <i class="fas fa-info-circle"></i>
                </div>
                <div class="modal-text">
                  <h4>Complete seu cadastro!</h4>
                  <p>Finalize seu cadastro registrando seu username, nome completo, endereço e selecionando uma foto para seu perfil. </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="modal-footer" style="margin-left: 55%">
                <div class="btn btn-default">
                  <%= link_to edit_user_registration_path do %>
                    <i class="fas fa-user"></i> <%=t("common.my_profile")%>
                  <% end %>
                </div>
                <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <%= render 'notifications' %>
    <div class="row">
      <div class="col-lg-6 ">
        <section class="card mb-4">
          <header class="card-header">
            <h2 class="card-title"><%=t("dashboard.financial_info")%></h2>
          </header>
          <div class="card-body">
            <section class="card card-featured-left card-featured-primary">
              <div class="card-body">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-primary">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h3 class="title"><%=t("dashboard.available_balance")%></h3>
                      <div class="info">
                        <strong class="amount"><i class="fas fa-dollar-sign"></i><%= @account.available_balance%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <%= link_to t("dashboard.new_investment"), new_investiment_path, class: "mb-1 mt-1 mr-1 btn btn-success" %>
                      <%= link_to t("dashboard.new_withdraw"), new_btc_withdraw_path, class: "mb-1 mt-1 mr-1 btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <br>
            <section class="card card-featured-left card-featured-secondary">
              <div class="card-body">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-secondary">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h3 class="title"><%=t("dashboard.accumulated_balance")%></h3>
                      <div class="info">
                        <strong class="amount"><i class="fas fa-dollar-sign"></i><%= @activated_investiments.sum(:accumulated_value)%></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="card mb-4">
          <header class="card-header">
            <h2 class="card-title"><%=t("dashboard.investiments")%></h2>
          </header>
          <div class="card-body">
            <section class="card card-featured-left card-featured-quaternary">
              <div class="card-body">
                <div class="widget-summary widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-quaternary">
                      <i class="fas fa-arrow-up"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h3 class="title"><%=t("dashboard.activated_investiment_count")%></h3>
                      <div class="info">
                        <strong class="amount"></i><%=@activated_investiments.count%></strong>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="card card-featured-left card-featured-tertiary">
              <div class="card-body">
                <div class="widget-summary widget-summary mb-3">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-tertiary">
                      <i class="fas fa-piggy-bank"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title"><%=t("dashboard.total_investiments_value")%></h4>
                      <div class="info">
                        <strong class="amount"><i class="fas fa-dollar-sign"></i><%=@activated_investiments.sum(:value)%></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
    <%= render 'last_remunerations' %>
    <%unless @user.level.basic?%>
      <%= render 'commissions' %>
    <%end%>
    <!-- end: page -->
  </section>
</div>
