<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2> <%= t("profile.edit_user") %></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%= t("profile.edit_user")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <div class="row">
      <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <section class="card">
          <div class="card-body">
            <div class="thumb-info mb-3">
              <%=image_tag current_user.avatar_url(:thumb), class: "rounded img-fluid"%>
              <div class="thumb-info-title">
                <span class="thumb-info-inner"><%=current_user.name%></span>
                <span class="thumb-info-type"><%= t("common.status.#{current_user.status}")%></span>
              </div>
            </div>
            <!-- 
            <div class="widget-toggle-expand mb-3">
              <div class="widget-header">
                <h5 class="mb-2">Profile Completion</h5>
                <div class="widget-toggle">+</div>
              </div>
              <div class="widget-content-collapsed">
                <div class="progress progress-xs light">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>
              </div>
              <div class="widget-content-expanded">
                <ul class="simple-todo-list mt-3">
                  <li class="completed">Update Profile Picture</li>
                  <li class="completed">Change Personal Information</li>
                  <li>Update Social Media</li>
                  <li>Follow Someone</li>
                </ul>
              </div>
            </div>
            <hr class="dotted short">
            <h5 class="mb-2 mt-3">About</h5>
            <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate quam. Interdum et malesuada</p>
            <div class="clearfix">
              <a class="text-uppercase text-muted float-right" href="#">(View All)</a>
            </div>
            <hr class="dotted short">
            <div class="social-icons-list">
              <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
            </div> -->
          </div>
        </section>
      </div>
      <div class="col-lg-8 col-xl-6">
        <div class="tabs">
          <ul class="nav nav-tabs tabs-primary">
            <li class="nav-item active">
              <a class="nav-link active" href="" data-toggle="tab"><%=t('profile.personal_info')%></a>
            </li>
            <%if current_user.address.present?%>
              <li class="nav-item">
                <%= link_to t("addresses.address"), edit_address_path(current_user.address), class: "nav-link" %>
              </li>
            <%else%>
              <li class="nav-item">
                <%= link_to t("addresses.address"), new_address_path, class: "nav-link" %>
              </li>
            <%end%>
          </ul>
          <div class="tab-content">
            <div id="user_info" class="tab-pane active">
              <div class="p-3">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "error_messages", resource: resource %>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= f.label t("profile.full_name") %>
                      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", disabled: true, class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= f.label :username %>
                      <%= f.text_field :username, autofocus: true, autocomplete: "username", disabled: true, class: "form-control"%>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label t("profile.cpf") %>
                      <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", class: "form-control"%>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <%= f.label t("profile.country") %>
                      <%= f.select :country, options_for_select(ISO3166::Country.all_translated("en"), resource.country), {},  class: "form-control"  %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label t("profile.phone") %>
                      <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", class: "form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                      <%= f.label t("profile.phone_code") %>
                      <%= f.text_field :phone_code, autofocus: true, autocomplete: "phone code", class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :avatar %> <br>
                    <%= f.file_field :avatar %>
                  </div>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                  <div class="form-group">
                    <%= f.label t("profile.password") %> <i><%=t("profile.leave_blank_message")%></i><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control",
                     minlength: "6", maxlength: "32" %>
                    <em> <%= t("profile.minimal_password_lenght")%></em>
                  </div>
                  <div class="form-group">
                    <%= f.label t("profile.password_confirmation") %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",
                     minlength: "6", maxlength: "32" %>
                  </div>
                  <div class="form-group">
                    <%= f.label t("profile.current_password") %> <i><%= t("profile.need_current_password")%></i>
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", required: "true",
                     minlength: "6", maxlength: "32" %>
                  </div>
                  <div class="actions">
                    <%= f.submit t("profile.update_registration"), class: "btn btn-success btn-lg btn-block"%>
                  </div>
                <% end %>
                <h3><%= t("profile.cancel_my_account") %></h3>
                <p><%=t("profile.cancel_account_message")%> <%= button_to t("profile.cancel_my_account"), registration_path(resource_name), class: "mb-1 mt-1 mr-1 btn btn-danger",   data: { confirm: t("profile.are_you_sure") }, method: :delete %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%=render "shared/financial_info", user: @user%>
    </div>
    <!-- end: page -->
  </section>
</div>
