<div style="background-image: url(<%= image_url('background.jpeg')%>); background-size: 100% 100%;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- start: page -->
    <section class="body-sign">
      <div class="center-sign">
        <a href="/" class="logo float-left">
          <%=image_tag("logo.png", height: "80", alt: "Porto Admin")%>
        </a>
        <div class="panel card-sign">
          <div class="card-title-sign mt-3 text-right">
            <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Sign Up</h2>
          </div>
          <div class="card-body">
            <%= render "notifications"%>
            <%= render "error_messages", resource: resource %>
            <form>
              <%if @referral_user.present?%>
                <div class="form-group mb-3">
                  <label>Indicator</label>
                  <%= f.text_field :indicator, autofocus: true, disabled: "true", class: "form-control", value: @referral_user.username.blank? ? @referral_user.email : @referral_user.username  %>
                </div>
                <%= f.text_field :referral_username, autofocus: true, hidden: "true", class: "form-control", value: @referral_user.username %>
              <%end%>
              <div class="form-group mb-3">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "test@gmail.com", required: true %>
              </div>
              <div class="form-group mb-3">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Your Name", required: true %>
              </div>
              <div class="form-group mb-3">
                <%= f.label :username %>
                <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "username", class: "form-control", required: true,
                     minlength: "3", maxlength: "30" %>
              </div>
              <div class="form-group mb-0">
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <%= f.label :country %>
                    <%= f.select :country, options_for_select(ISO3166::Country.all_translated("en"), 'Brazil'), {}, class: "form-control", id: "country_selector", onchange:"set_document_label()", required: true  %>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label id="document_label">CPF</label>
                    <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf",  placeholder: "35718157006", class: "form-control", required: true  %>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <%= f.label :phone_code %>
                    <%= f.text_field :phone_code, autofocus: true, class: "form-control", placeholder: "55", required: true, minlength: "1", maxlength: "4"  %>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <%= f.label :phone %>
                    <%= f.text_field :phone, autofocus: true, class: "form-control", placeholder: "DDD 9999-98888", required: true %>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "password", required: true,
                     minlength: "6", maxlength: "32" %>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "password", required: true,
                     minlength: "6", maxlength: "32" %>
                  </div>
                </div>
              </div>
              <br>
              <%= recaptcha_tags %>
              <br>
              <div class="row">
                <div class="col-sm-12 text-right">
                  <%= f.submit "Sign up", class: "btn btn-primary mt-2" %>
                </div>
              </div>
            </form>
            <span class="mt-3 mb-3 line-thru text-center text-uppercase">
              <span>or</span>
            </span>
            <p class="text-center">Already have an account?   <%= link_to "Sign In!", new_session_path(resource_name) %>
            </div>
          </div>
          <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
        </div>
      </section>
    <% end %>
  </div>
  <script>
    function set_document_label()
    {
      if(document.getElementById('country_selector').value != 'Brazil')
      {
        document.getElementById('document_label').innerHTML = 'Document Number'
      }else{
        document.getElementById('document_label').innerHTML = 'CPF'
      }
    }
  </script>
