<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("support_material.support_material")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("support_material.support_material")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <div class="row">
      <div class="col-md-4">
        <section class="card">
          <div class="card-body" style="background-color: #33353F;">
            <h2 style="color: #f8f9fa;"><%=t("support_material.complementary_material")%></h2>
          </div>
          <div class="card-footer">
            <a href="https://drive.google.com/drive/u/0/folders/1PHspAEjMSXviXglTIQ2n6BRWw_hF8ZJj" target="_blank" class="mb-1 mt-1 mr-1 btn btn-primary"><i class="fas fa-file-download"></i> <%=t("support_material.view")%></a>
          </div>
        </section>
      </div>

    </div>

    <!-- end: page -->
  </section>
</div>
