  <% if flash[:error] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Error! </strong> <%=flash[:error]%>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Warning! </strong> <%=flash[:alert]%>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Notice! </strong> <%=flash[:notice]%>
  </div>
<% end %>
<% if flash[:recaptcha_error] %>
  <div class="alert alert-icon alert-danger border-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button> <i class="material-icons list-icon">Error! </i>  <strong> <%= content_tag(:div, flash[:recaptcha_error], :id => "flash_alert")  %></strong>
  </div>
<% end %>
