<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("commissions.commissions")%></h2>
  </header>
  <div class="card-body">
    <table class="table table-bordered table-striped mb-0" id="index_commissions">
      <thead>
        <tr>
          <th>User</th>
          <th>Commission Rate</th>
          <th>Value</th>
          <th>Type</th>
          <th>Status</th>
          <th>Paid at</th>
        </tr>
      </thead>
      <tbody>
        <% @commissions.each do |commission| %>
          <tr>
            <td> <%= link_to commission.user.email, edit_user_by_admin_path(commission.user), target: :_blank %>
            </td>
            <td><%= commission.commission_rate * 100 %> %</td>
            <td><%= commission.value %></td>
            <td><%= commission.type %></td>
            <td><%= commission.status %></td>
            <td><%= commission.paid_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- end: page -->
</section>
