<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("remunerations.remunerations")%></h2>
  </header>
  <div class="card-body">
    <table class="table table-bordered table-striped mb-0" id="index_remunerations">
      <thead>
        <tr>
          <th><%=t("remunerations.number")%></th>
          <th><%=t("remunerations.value")%></th>
          <th><%=t("remunerations.status")%></th>
          <th><%=t("remunerations.remuneration_date")%></th>
          <th><%=t("remunerations.paid_at")%></th>
        </tr>
      </thead>
      <tbody>
        <% @remunerations.each do |remuneration| %>
          <tr>
            <td><%= remuneration.number %></td>
            <td><i class="fas fa-dollar-sign"></i> <%= remuneration.value %></td>
            <td><%= t("common.status.#{remuneration.status}") %></td>
            <td><%=remuneration.remuneration_date.blank? ? "" :  l(remuneration.remuneration_date) %></td>
            <td><%= remuneration.paid_at.blank? ? "" : l(remuneration.paid_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<!-- end: page -->
