<section class="card">
  <header class="card-header">
    <h2 class="card-title"><%=t("investiments.remunerations")%></h2>
  </header>
  <div class="card-body">
    <table class="table table-bordered table-striped mb-0" id="index_remunerations">
      <thead>
        <tr>
          <th>Number</th>
          <th>Value</th>
          <th>Status</th>
          <th>Remuneration date</th>
          <th>Paid At</th>
          <th>Pay</th>
        </tr>
      </thead>
      <tbody>
        <% @remunerations.each do |remuneration| %>
          <tr>
            <td><%= remuneration.number %></td>
            <td><i class="fas fa-dollar-sign"></i> <%= remuneration.value %></td>
            <td><%= t("common.status.#{remuneration.status}") %></td>
            <td><%= remuneration.remuneration_date.blank? ? "" : l(remuneration.remuneration_date) %></td>
            <td><%= remuneration.paid_at %></td>
            <td><%= link_to "pay", pay_remuneration_path(remuneration), class: "btn btn-success btn-lg",  data: { confirm: "Are you sure you want to make the payment?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<!-- end: page -->
</section>
</div>
