<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("investiments.edit_investiment")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("investiments.edit_investiment")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t('common.user_information')%></h2>
      </header>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <h5><%=t('common.email')%></h5>
            <%= link_to @investiment.user.email, edit_user_by_admin_path(@investiment.user), target: :blank%>
          </div>
          <div class="col-md-3">
            <h5><%=t('common.name')%></h5>
            <%=@investiment.user.name%>
          </div>
          <div class="col-md-3">
            <h5><%=t('common.cpf')%></h5>
            <%=@investiment.user.cpf%>
          </div>
          <div class="col-md-3">
            <h5>Status</h5>
            <%=t("common.status.#{@investiment.user.status}")%>
          </div>
        </div>
      </div>
    </section>
    <br/>
    <div class="row">
      <div class="col">
        <section class="card">
          <header class="card-header">
            <h2 class="card-title"><%=t("investiments.edit_investiment")%></h2>
          </header>
          <div class="card-body">
            <%= form_with(model: @investiment, local: true) do |form| %>
              <% if @investiment.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@investiment.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
                  <% @investiment.errors.full_messages.each do |message| %>
                    <div class="alert alert-danger">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <strong>Error! </strong><%= message %></div>
                  <% end %>
                </div>
              <% end %>
              <div class="form-group row">
                <%= form.label :value, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <%= form.text_field :value, class: "form-control", disabled: "true"%>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :accumulated_value, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <%= form.text_field :accumulated_value, class: "form-control", disabled: "true"%>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :expiration_date, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                      </span>
                    </span>
                    <%= form.date_field :expiration_date, class: "form-control", disabled: "true" %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :created_at, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                      </span>
                    </span>
                    <%= form.date_field :created_at, class: "form-control", disabled: "true" %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :remuneration_rate, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <% if @investiment.status.activated?%>
                    <%= form.number_field :remuneration_rate, class: "form-control", disabled: "true" %>
                  <%else%>
                    <%= form.number_field :remuneration_rate, class: "form-control", step: ".01" %>
                  <%end%>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :status, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <%= form.text_field :status, class: "form-control", disabled: "true" %>
                </div>
              </div>
              <% if @investiment.status.pending? %>
                <%= form.submit t("investiments.update"), class: "mb-1 mt-1 mr-1 btn btn-primary"%>
                <%= link_to "Activate", activate_investiment_path(@investiment), class: "mb-1 mt-1 mr-1 btn btn-success"%>
              <%elsif @investiment.status.activated?%>
                <%= link_to "Disable", disable_investiment_path(@investiment), class: "mb-1 mt-1 mr-1 btn btn-danger"%>
              <%end%>
            <% end %>
          </div>
        </section>
        <%= form_for @investiment, as: :investiment, url: edit_investiment_values_path(@investiment), method: :patch, html: {class: "form-horizontal form-bordered"} do |form| %>
          <section class="card">
            <header class="card-header">
              <h2 class="card-title">Edit Values</h2>
            </header>
            <div class="card-body">
              <div class="form-group row">
                <%= form.label :value, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <%= form.text_field :value, class: "form-control", step: ".01", min: 0 %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :accumulated_value, class: "col-lg-3 control-label text-lg-right" %>
                <div class="col-lg-6">
                  <%= form.text_field :accumulated_value, class: "form-control", step: ".01", min: 0 %>
                </div>
              </div>
              <%= form.submit t("investiments.update"), class: "mb-1 mt-1 mr-1 btn btn-primary"%>
            </div>
          </section>
        <% end %>
      </div>
    </div>
    <br>
    <%= render 'remunerations_by_admin' %>
    <%= render 'commissions_by_admin' %>
    <!-- end: page -->
  </section>
</div>
