<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("investiments.investiments")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("investiments.investiments")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <section class="card">
      <%= render 'notifications' %>
      <header class="card-header">
        <h2 class="card-title"><%=t("investiments.investiments")%></h2>
      </header>
      <div class="card-body">
        <table class="table table-responsive-md table-hover mb-0">
          <thead>
            <tr>
              <th><%= t('investiments.value')%></th>
              <th><%= t('investiments.expiration_date')%></th>
              <th><%= t('investiments.remuneration_rate')%></th>
              <th><%= t('investiments.status')%></th>
              <th><%= t('investiments.details')%></th>
            </tr>
          </thead>
          <tbody>
            <% @investiments.each do |investiment| %>
              <tr>
                <td><i class="fas fa-dollar-sign"></i> <%= investiment.value %></td>
                <td><%=investiment.expiration_date.blank? ? "" : l(investiment.expiration_date) %></td>
                <td><%= investiment.remuneration_rate %> % A.M</td>
                <td><%= t("common.status.#{investiment.status}") %></td>
                <td>
                  <%= link_to investiment, target: :_blank do %>
                    <i class="fas fa-eye"></i>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to t('investiments.new_investiment'), new_investiment_path, class: "mb-1 mt-1 mr-1 btn btn-primary" %>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
