<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("investiments.investiments")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("investiments.investiments")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications'%>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t("investiments.investiments")%></h2>
      </header>
      <div class="card-body">
        <div class = "col-md-6 mx-auto">
          <div class="tabs">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <%= link_to investiments_by_admin_path(:status => "pending"), class: "#{decide_tab_activate("pending", params[:status])}" do %> <%= t("investiments.pending")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_investiments("pending")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to investiments_by_admin_path(:status => "activated"), class: "#{decide_tab_activate("activated", params[:status])}" do %> <%= t("investiments.activated")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_investiments("activated")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to investiments_by_admin_path(:status => "disabled"), class: "#{decide_tab_activate("disabled", params[:status])}" do %> <%= t("investiments.disabled")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_investiments("disabled")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to investiments_by_admin_path(:status => "canceled"), class: "#{decide_tab_activate("canceled", params[:status])}" do %> <%= t("investiments.canceled")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_investiments("canceled")%></span> <%end%>
              </li>
              <li class="nav-item">
                <%= link_to investiments_by_admin_path(:status => "all"), class: "#{decide_tab_activate("all", params[:status])}" do %> <%= t("investiments.all")%> <span class="badge fs-12 badge blue-text"><%= get_size_filter_content_investiments("all")%></span> <%end%>
              </li>
            </ul>
          </div>
        </div>
        <table class="table table-bordered table-striped mb-0" id="index_investiments_by_admin">
          <thead>
            <tr>
              <th>User Email</th>
              <th>Value</th>
              <th>Expiration date</th>
              <th>Remuneration rate</th>
              <th>Status</th>
              <th>Creation Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% @investiments.each do |investiment| %>
              <tr>
                <td> <%= link_to investiment.user.email, edit_user_by_admin_path(investiment.user), target: :_blank %>
                </td>
                <td><i class="fas fa-dollar-sign"></i> <%= investiment.value %></td>
                <td><%= investiment.expiration_date %></td>
                <td><%= investiment.remuneration_rate %> % A.M</td>
                <td><%= investiment.status %></td>
                <td><%= investiment.created_at.strftime("%F %T") %></td>
                <td>
                  <%= link_to edit_investiment_path(investiment), target: :_blank  do %>
                    <i class="fas fa-eye"></i>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title">Update Remuneration Rate</h2>
      </header>
      <div class="card-body">
        <%= form_with(model: Package.first, class: "form-horizontal form-bordered") do |form| %>
          <div class="form-group row">
            <%= form.label :remuneration_rate, class: "col-lg-3 control-label text-lg-right" %><span
        class="required">*</span>
            <div class="col-lg-6">
              <%= form.number_field :remuneration_rate, class: "form-control", step: ".01", required: true %>
            </div>
          </div>
          <%= form.submit "Update", class: "mb-1 mt-1 mr-1 btn btn-success"%>
        <%end%>
      </div>
    </section>
    <!-- end: page -->
  </section>
</div>
