<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Investiments</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Investiments</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <div class="row">
      <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <section class="card">
          <div class="card-body">
            <div class="thumb-info mb-3">
              <%=image_tag @user.avatar_url(:thumb), class: "rounded img-fluid"%>
              <div class="thumb-info-title">
                <span class="thumb-info-inner"><%=@user.name%></span>
                <span class="thumb-info-type"><%=@user.status%></span>
              </div>
            </div>
            <!-- 
            <div class="widget-toggle-expand mb-3">
              <div class="widget-header">
                <h5 class="mb-2">Profile Completion</h5>
                <div class="widget-toggle">+</div>
              </div>
              <div class="widget-content-collapsed">
                <div class="progress progress-xs light">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>
              </div>
              <div class="widget-content-expanded">
                <ul class="simple-todo-list mt-3">
                  <li class="completed">Update Profile Picture</li>
                  <li class="completed">Change Personal Information</li>
                  <li>Update Social Media</li>
                  <li>Follow Someone</li>
                </ul>
              </div>
            </div>
            <hr class="dotted short">
            <h5 class="mb-2 mt-3">About</h5>
            <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate quam. Interdum et malesuada</p>
            <div class="clearfix">
              <a class="text-uppercase text-muted float-right" href="#">(View All)</a>
            </div>
            <hr class="dotted short">
            <div class="social-icons-list">
              <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
              <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
            </div> -->
          </div>
        </section>
      </div>
      <div class="col-lg-8 col-xl-6">
        <div class="tabs">
          <ul class="nav nav-tabs tabs-primary">
            <li class="nav-item">
              <%=link_to "Personal Informations", edit_user_by_admin_path(@user), class: "nav-link"%>
            </li>
            <%if @user.address.present? %>
              <li class="nav-item">
                <%= link_to "Address", edit_address_by_admin_path(@user.address), class: "nav-link" %>
              </li>
            <%end%>
            <li class="nav-item">
              <%= link_to "Clients", clients_by_admin_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Deposits", deposits_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="" data-toggle="tab">Investiments</a>
            </li>
            <li class="nav-item">
              <%= link_to "Withdrawals", btc_withdraws_list_path(@user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%=link_to "Launches", launches_path(@user), class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%=link_to "Extract", show_extracts_by_admin_path(@user), class: "nav-link"%>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <section class="card">
                <header class="card-header">
                  <h2 class="card-title">All Investiments</h2>
                </header>
                <div class="card-body">
                  <table class="table table-bordered table-striped mb-0">
                    <thead>
                      <tr>
                        <th><%= t('investiments.value')%></th>
                        <th><%= t('investiments.expiration_date')%></th>
                        <th><%= t('investiments.remuneration_rate')%></th>
                        <th><%= t('investiments.status')%></th>
                        <th><%= t('investiments.details')%></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @investiments.each do |investiment| %>
                        <tr>
                          <td><i class="fas fa-dollar-sign"></i> <%= investiment.value %></td>
                          <td><%=investiment.expiration_date.blank? ? "" : l(investiment.expiration_date) %></td>
                          <td><%= investiment.remuneration_rate %> % A.M</td>
                          <td><%= t("common.status.#{investiment.status}") %></td>
                          <%if user_signed_in? %>
                            <td>
                              <%= link_to investiment, target: :_blank do %>
                                <i class="fas fa-eye"></i>
                              <%end%>
                            </td>
                          <%else%>
                            <td>
                              <%= link_to edit_investiment_path(investiment), target: :_blank do %>
                                <i class="fas fa-eye"></i>
                              <%end%>
                            </td>
                          <%end%>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </section>
              <% if admin_signed_in? %>
                <section class="card">
                  <div class="card-header">
                    <h2 class="card-title"><%= t("investiments.new_investiment")%></h2>
                  </div>
                  <div class="card-body">
                    <% if @investiment.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@investiment.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
                        <% @investiment.errors.full_messages.each do |message| %>
                          <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Error! </strong><%= message %></div>
                        <% end %>
                      </div>
                    <% end %>
                    <h3 class="text-center"><%=t("withdrawals.available_balance")%> <i class="fas fa-dollar-sign"></i>
                      <%= @user.account.available_balance%></h3>
                    <br />
                    <%= form_for @investiment, as: :investiment, url: create_investiment_by_admin_path(@user), method: :post, html: {class: "form-horizontal form-bordered"} do |form| %>
                      <div class="form-group row">
                        <%= form.label t("investiments.investiment_value"), class: "col-lg-3 control-label text-lg-right" %><span class="required">*</span>
                        <div class="col-lg-6">
                          <%= form.number_field :value, class: "form-control", step: ".01", placeholder: "USD value", required: true %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= form.label t("investiments.remuneration_rate"), class: "col-lg-3 control-label text-lg-right" %>
                        <div class="col-lg-6">
                          <p>10 % A.M</p>
                        </div>
                      </div>
                      <%= form.submit t("investiments.submit_investiment"), class: "mb-1 mt-1 mr-1 btn btn-success"%>
                    <%end%>
                  </div>
                  <div class="card-footer">
                  </div>
                </section>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <%=render "shared/financial_info", user: @user%>
    </div>
    <!-- end: page -->
  </section>
</div>
