<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("investiments.investiments")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("investiments.new_investiment")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <section class="card">
      <div class="card-header">
        <h2 class="card-title"><%= t("investiments.new_investiment")%></h2>
      </div>
      <div class="card-body">
        <% if @investiment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@investiment.errors.count, "error") %> <%=t("validations.form_error_message")%></h2>
            <% @investiment.errors.full_messages.each do |message| %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Error! </strong><%= message %></div>
            <% end %>
          </div>
        <% end %>
        <h3 class="text-center"><%=t("withdrawals.available_balance")%> <i class="fas fa-dollar-sign"></i>
          <%= current_user.account.available_balance%></h3>
        <br />
        <%= form_with(model: @investiment, local: true, class: "form-horizontal form-bordered") do |form| %>
          <div class="form-group row">
            <%= form.label t("investiments.investiment_value"), class: "col-lg-3 control-label text-lg-right" %><span
        class="required">*</span>
            <div class="col-lg-6">
              <%= form.number_field :value, class: "form-control", min: 250.0, step: ".01", placeholder: "USD value", required: true %>
            </div>
          </div>
          <div class="form-group row">
            <%= form.label t("investiments.remuneration_rate"), class: "col-lg-3 control-label text-lg-right" %>
            <div class="col-lg-6">
              <p><%= @remuneration_rate%> % A.M</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <%= recaptcha_tags %>
              </div>
              <div class="col-sm">
              </div>
            </div>
          </div>
          <%= form.submit t("investiments.submit_investiment"), class: "mb-1 mt-1 mr-1 btn btn-success"%>
        <%end%>
      </div>
      <div class="card-footer">
      </div>
    </section>
  </section>
</div>
