<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2><%=t("investiments.investiment")%></h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span><%=t("investiments.investiment")%></span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title"><%=t("investiments.investiment")%></h2>
      </header>
      <div class="card-body">
        <p>
          <strong><%=t("investiments.value")%>:</strong>
          <i class="fas fa-dollar-sign"></i> <%= @investiment.value %>
        </p>
        <p>
          <strong><%=t("investiments.created_at")%>: </strong>
          <%= l(@investiment.created_at) %>
        </p>
        <p>
          <strong><%=t("investiments.expiration_date")%>: </strong>
          <%= @investiment.expiration_date.blank? ? "" : l(@investiment.expiration_date) %>
        </p>
        <p>
          <strong><%=t("investiments.status")%>:</strong>
          <%= t("common.status.#{@investiment.status}") %>
        </p>
        <p>
          <strong><%=t("investiments.remuneration_rate")%>:</strong>
          <%= @investiment.remuneration_rate %>
        </p>
      </section>
      <%= render 'remunerations' %>
    </div>
    <!-- end: page -->
  </section>
</div>
