<div class="inner-wrapper">
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Financial Report</h2>
      <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li><span>Financial Report</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
      </div>
    </header>
    <!-- start: page -->
    <%= render 'notifications' %>
    <section class="card">
      <div class="card-body">
        <%= form_tag financial_report_path, method: :get, enforce_utf8: false do %>
          <div class="row">
            <div class="form-group col-md-3">
              <%= label_tag :initial_date%>
              <%= text_field_tag :initial_date, @initial_date_input, class: "form-control datepicker", "data-provide" => 'datepicker', "data-date-format" => "dd-mm-yyyy", placeholder:'dd-mm-yyyy', :autocomplete => :off %>
            </div>
            <div class="form-group col-md-3 ">
              <%= label_tag :final_date%>
              <%= text_field_tag :final_date, @final_date_input, class: "form-control datepicker", "data-provide" => 'datepicker', "data-date-format" => "dd-mm-yyyy", placeholder:'dd-mm-yyyy', :autocomplete => :off%>
            </div>
            <div class="form-group col-md-3 ">
              <button class="btn button-peregrine btn-success" style="margin-top: 30px;" type="submit" >Filter</button>
            </div>
          </div>
        <%end%>
      </div>
    </section>
    <!--############################################################################################################################################################### -->
    <section class="card">
      <div class="card-header">
        <h3>USD Statement</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-primary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Deposits Sum</h4>
                      <div class="info">
                        <strong class="amount"><%=@deposits_value%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-primary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Deposits Fee</h4>
                      <div class="info">
                        <strong class="amount"><%= @deposits_fee_value%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-secondary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Withdrawals Sum</h4>
                      <div class="info">
                        <strong class="amount"><%=@withdraws_value%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-secondary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Withdrawals Fee</h4>
                      <div class="info">
                        <strong class="amount"><%= @withdraws_fee_value%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
        </div>
      </div>
    </section>
    <section class="card">
      <div class="card-header">
        <h3>BTC Statement</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-primary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fab fa-bitcoin"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Deposits Sum</h4>
                      <div class="info">
                        <strong class="amount"><%=@deposits_amount.to_bitcoin%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-primary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fab fa-bitcoin"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Deposits Fee</h4>
                      <div class="info">
                        <strong class="amount"><%= @redirection_fee.to_bitcoin%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-secondary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fab fa-bitcoin"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Withdrawals Sum</h4>
                      <div class="info">
                        <strong class="amount"><%=@withdraws_amount.to_bitcoin%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
          <div class="col md-3">
            <!--Widget -->
            <section class="card">
              <div class="card-body bg-secondary">
                <div class="widget-summary">
                  <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon">
                      <i class="fab fa-bitcoin"></i>
                    </div>
                  </div>
                  <div class="widget-summary-col">
                    <div class="summary">
                      <h4 class="title">Withdrawals Fee</h4>
                      <div class="info">
                        <strong class="amount"><%= @withdraws_fee.to_bitcoin%></strong>
                      </div>
                    </div>
                    <div class="summary-footer">
                      <a class="text-uppercase">(view all)</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--End Widget -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Page-->
  </section>
</div>
