<!DOCTYPE html>
<html>
  <head>
    <title>BVM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? || admin_signed_in?%>
      <%= render 'shared/header' %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
